@import "../../../../styles/theme/vars";

$entry-padding-sides: 0.5em;
.team-entry {
  .entry-head {
    padding: 0.4em $entry-padding-sides;
    background-color: $color-secondary;
    color: $color-secondary-contrast;
    font-family: $content-font;
    font-size: 0.8rem;
    cursor: pointer;

    .chevron {
      padding-right: 0.9em;
    }
  }

  &.open {
    .entry-head {
      background-color: $color-secondary-shade;
    }

    border-bottom: 1px solid $color-medium;
  }
}

.member {
  padding: 0.3em $entry-padding-sides;
  background-color: $color-secondary-shade;
  color: $color-secondary-contrast;
  font-family: $content-font;
  font-size: 0.8rem;

  .dead {
    color: red;
  }

  .rank {
    padding-right: 0.9em;
  }

  .health {
    width: 100%;
    height: 2px;
    opacity: 0.5;
  }

  @for $i from 0 through 100 {
    @if $i > 75 and $i <= 100 {
      .health-#{$i} {
        background: lime;
      }
    } @else if $i > 50 and $i < 75 {
      .health-#{$i} {
        background: yellow;
      }
    } @else if $i > 25 and $i < 50 {
      .health-#{$i} {
        background: orange;
      }
    } @else if $i < 25 {
      .health-#{$i} {
        background: red;
      }
    }
    .health-#{$i} {
      width: #{$i}#{"%"};
    }
  }
}

.press-play-notification {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
