<div class="w-100 h-100 team-entry position-relative">
  <!-- BEGIN: press play -->
  <div class="press-play-notification d-flex align-items-center justify-content-center" *ngIf="!teams.length">
    <p class="msg-info">Press <b>PLAY</b> to start the replay</p>
  </div>
  <!-- END: press play -->

  <!-- BEGIN: team members -->
  <div class="team-members">
    <!-- TODO(pmo): display a skull next to the player when he's dead -->
    <div class="member d-flex flex-column" *ngFor="let character of teams; trackBy: trackByCharName">
      <div class="d-flex flex-row">
        <div [ngClass]="{'dead': character.health <= 0}" class="nickname flex-grow-1">
          {{ character.name }}
        </div>
        <div class="rank">
          Ranking: {{ character.ranking > 0 ? character.ranking : "-" }}
        </div>
      </div>
      <div class="health health-{{ character.health }}"></div>
    </div>
  </div>
  <!-- END: team members -->
</div>
