<div class="w-100 h-100 d-flex">
  <div class="content-container">
    <app-session-connect-bar class="w-100"></app-session-connect-bar>
    <lib-map-canvas class="w-100 flex-grow-1"></lib-map-canvas>
    <app-review-controls [duration]="matchDuration" (play)="actionPlay()" (pause)="actionPause()"
                         (fastForward)="actionSkipForward($event)" (fastBackward)="actionSkipBackward($event)"
                         [currentTime]="time" (currentTimeChanged)="actionCurrentTimeChanged($event)"
                         (skippingActiveChanged)="setSkippingActive($event)"
                         (skipFinished)="actionSkippingFinished($event)"
                         [(playbackActive)]="playbackActive"></app-review-controls>
  </div>

  <app-map-tools-toolbar></app-map-tools-toolbar>

  <lib-loading-overlay [loading]="loading"></lib-loading-overlay>
</div>
