@import "../../../../styles/theme/vars";

.info {
}

.discord-input {
  width: 80%;

  input {
    padding: 0.2em 0.6em;
    background-color: $color-accent;
    border: unset;
    border-radius: 5px;
    color: $color-accent-contrast;
    font-family: $content-font;
    font-size: 1.25rem;
    outline: none;

    &:focus {
      outline: none;
    }
  }
}

.copy-button {
  padding: 0 0.8em;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
