<h1 matDialogTitle>More help?</h1>

<!-- BEGIN: dialog content -->
<div class="text-center">
  <p class="info-text">If you need any more help feel free to contact us on discord.</p>

  <div class="discord-input position-relative d-inline-block">
    <input type="text" class="w-100" value="https://discord.gg/jZQnUYv" readonly aria-label="discord invite"/>

    <div class="copy-button d-flex align-items-center justify-content-center">
      <lib-copy-button [valueToCopy]="'https://discord.gg/jZQnUYv'"></lib-copy-button>
    </div>
  </div>
</div>
<!-- END: dialog content -->
