@import "../../../../../styles/theme/vars";

.info-button {
  cursor: help;
}

.info-popover {
  max-width: 200px;
  margin-left: 0.5em;
  padding: 0.4em 0.6em;
  background-color: $color-primary;
  color: $color-primary-contrast;
  font-family: $content-font;
  border-radius: 2px;
  font-size: 0.7rem;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.2);

  .headline {
    font-family: $headline-font;
    font-weight: bold;
    letter-spacing: 2px;
  }
}
