<div class="info-button d-inline-block" [satPopoverAnchorFor]="infoPopover" (mouseenter)="actionMouseEnter()"
     (mouseleave)="actionMouseLeave()" #infoButton>
  <fa-icon [icon]="viewContext.faInfoCircle"></fa-icon>
</div>

<sat-popover #infoPopover [forceAlignment]="false" horizontalAlign="after" verticalAlign="center">
  <div class="info-popover d-flex flex-column" #infoPopoverContainer>
    <div class="headline">
      Help:
    </div>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </div>
</sat-popover>
