@import "../../../../styles/theme/vars";

.game-review-controls {
  background-color: $color-secondary;
  color: $color-secondary-contrast;
  font-family: $content-font;
  border-top: 1px solid transparent;
  font-size: 0.9rem;
}

.control {
  padding: 0.3em 0.9em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;

  &.play {
    padding: 0.3em 1.6em;
  }

  &:hover {
    background-color: $color-secondary-shade;
    transition: all 0.4s;
  }
}

.time {
  width: 125px;
  font-size: 0.8rem;
}

.timeline {
  padding: 0 1.7em;
}

.inner {
  position: relative;
  height: 100%;
}

.review-button {
  color: $color-dark-contrast;
  background: $color-accent-contrast;
}

.tl-background,
.tl-progress {
  position: absolute;
  top: 50%;
  left: 0;
  height: 5px;
  transform: translateY(-50%);
}

.tl-background {
  width: 100%;
  background-color: $color-medium;
  pointer-events: none;
}

.tl-progress {
  background-color: $color-accent;
  pointer-events: none;
}

$dot-size: 15px;
.tl-progress-dot {
  position: absolute;
  top: 50%;
  right: -$dot-size / 2;
  height: $dot-size;
  width: $dot-size;
  transform: translateY(-50%);
  border-radius: 100%;
  background-color: $color-accent;
}

.tl-input-overlay {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 10;
  width: 100%;
  height: $dot-size;
  transform: translateY(-50%);
  cursor: pointer;
}
