<div class="game-review-controls d-flex">
  <!-- BEGIN: play/pause -->
  <div class="play control" role="button" matRipple (click)="actionPlayPause()"
       [libTooltip]="playbackActive ? 'Pause ( K )' : 'Play ( K )'" libTooltipPosition="top">
    <ng-template [ngIf]="playbackActive" [ngIfElse]="playIcon">
      <fa-icon [icon]="viewContext.faPause"></fa-icon>
    </ng-template>
    <ng-template #playIcon>
      <fa-icon [icon]="viewContext.faPlay"></fa-icon>
    </ng-template>
  </div>
  <!-- END: play/pause -->

  <!-- BEGIN: fast backward -->
  <div class="control" role="button" matRipple (click)="actionFastBackward()" libTooltip="Fast backward 10 sec. ( J )"
       libTooltipPosition="top">
    <fa-icon [icon]="viewContext.faBackward"></fa-icon>
  </div>
  <!-- END: fast backward -->

  <!-- BEGIN: fast forward -->
  <div class="control" role="button" matRipple (click)="actionFastForward()" libTooltip="Fast forward 10 sec. ( L )"
       libTooltipPosition="top">
    <fa-icon [icon]="viewContext.faForward"></fa-icon>
  </div>
  <!-- END: fast forward -->

  <!-- BEGIN: passed time -->
  <div class="time d-inline-flex align-items-center justify-content-center">
    {{currentTime | duration:"short"}} / {{duration | duration:"short"}}
  </div>
  <!-- END: passed time -->

  <!-- BEGIN: timeline -->
  <div class="timeline flex-grow-1 unselectable">
    <div class="inner">
      <div class="tl-background"></div>
      <div class="tl-progress" [style.width]="timelineProgressPercent + '%'">
        <div class="tl-progress-dot" #progressDot></div>
      </div>
      <div class="tl-input-overlay" #inputOverlay></div>
    </div>
  </div>
  <!-- END: timeline -->
</div>
