<div class="w-100 h-100 d-flex">
  <div class="content-container">
    <app-session-connect-bar class="w-100"></app-session-connect-bar>
    <lib-map-canvas class="w-100 flex-grow-1"></lib-map-canvas>
  </div>

  <app-map-tools-toolbar></app-map-tools-toolbar>
</div>
