@import "../../../../styles/theme/vars";

.status-bar {
  padding: 0 0.4em;
  height: 25px;
  background-color: $color-secondary;
  border-top: 1px solid $color-medium;
  color: $color-secondary-contrast;
  font-family: $content-font;
}

@keyframes connection-blink {
  0% {
    background-color: $color-medium;
  }

  50% {
    background-color: $color-success;
  }

  100% {
    background-color: $color-medium;
  }
}

$connection-indicator-size: 13px;

.connection-indicator {
  width: $connection-indicator-size;
  height: $connection-indicator-size;
  background-color: $color-medium;
  border-radius: 50%;

  &.connected {
    background-color: $color-success;
    animation: 1s connection-blink infinite;
  }
}

.connection-popover {
  margin-bottom: 0.2em;
  padding: 0.3em 0.5em;
  background-color: $color-medium;
  border-radius: 3px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
  color: $color-medium-contrast;
  font-family: $content-font;
  font-size: 0.8rem;
}

.status-message {
  padding-left: 0.9em;
  font-family: $content-font;
  color: $color-secondary-contrast;
  font-size: 0.7rem !important;
}
