<div class="status-bar d-flex align-items-center">
  <!-- BEGIN: connection status -->
  <div class="connection-indicator" [ngClass]="{'connected': sessionActive}"
       [satPopoverAnchorFor]="connectionPopover" (mouseenter)="actionIndicatorMouseEnter()"
       (mouseleave)="actionIndicatorMouseLeave()"></div>

  <sat-popover #connectionPopover verticalAlign="above">
    <div class="connection-popover">
      Sync: {{sessionActive ? 'Online' : 'Offline'}}
    </div>
  </sat-popover>
  <!-- END: connection status -->

  <!-- BEGIN: status message -->
  <div class="status-message msg-info" [innerHTML]="message" *ngIf="message"></div>
  <!-- END: status message -->
</div>
