@import "../../../../../styles/theme/vars";

.app-tooltip {
  pointer-events: none;
  padding: 0.3em 0.8em;
  position: absolute;
  z-index: 1010;
  background-color: $color-secondary;
  color: $color-secondary-contrast;
  font-size: 0.8rem;
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(black, 0.3);
  white-space: nowrap;
  font-family: $content-font;

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
  }

  $triangle-width: 6px;
  $triangle-height: 5px;
  $triangle-color: $color-secondary;

  &.p-top::before {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-left: $triangle-width solid transparent;
    border-right: $triangle-width solid transparent;
    border-top: $triangle-height solid $triangle-color;
  }

  &.p-right::before {
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-top: $triangle-width solid transparent;
    border-bottom: $triangle-width solid transparent;
    border-right: $triangle-height solid $triangle-color;
  }

  &.p-bottom::before {
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    border-left: $triangle-width solid transparent;
    border-right: $triangle-width solid transparent;
    border-bottom: $triangle-height solid $triangle-color;
  }

  &.p-left::before {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-top: $triangle-width solid transparent;
    border-bottom: $triangle-width solid transparent;
    border-left: $triangle-height solid $triangle-color;
  }
}
