@import "~@angular/material/theming";
@import "~bootstrap/scss/bootstrap-grid";
@import "vars";
@include mat-core();

$mat-primary-color: (
  50: $color-accent,
  100: $color-accent,
  200: $color-accent,
  300: $color-accent,
  400: $color-accent,
  500: $color-accent,
  600: $color-accent,
  700: $color-accent,
  800: $color-accent,
  900: $color-accent,
  A100: $color-accent,
  A200: $color-accent,
  A400: $color-accent,
  A700: $color-accent,
  contrast: (
    50: $color-accent-contrast,
    100: $color-accent-contrast,
    200: $color-accent-contrast,
    300: $color-accent-contrast,
    400: $color-accent-contrast,
    500: $color-accent-contrast,
    600: $color-accent-contrast,
    700: $color-accent-contrast,
    800: $color-accent-contrast,
    900: $color-accent-contrast,
    A100: $color-accent-contrast,
    A200: $color-accent-contrast,
    A400: $color-accent-contrast,
    A700: $color-accent-contrast
  )
);

$mat-secondary-color: (
  50: $color-accent,
  100: $color-accent,
  200: $color-accent,
  300: $color-accent,
  400: $color-accent,
  500: $color-accent,
  600: $color-accent,
  700: $color-accent,
  800: $color-accent,
  900: $color-accent,
  A100: $color-accent,
  A200: $color-accent,
  A400: $color-accent,
  A700: $color-accent,
  contrast: (
    50: $color-accent-contrast,
    100: $color-accent-contrast,
    200: $color-accent-contrast,
    300: $color-accent-contrast,
    400: $color-accent-contrast,
    500: $color-accent-contrast,
    600: $color-accent-contrast,
    700: $color-accent-contrast,
    800: $color-accent-contrast,
    900: $color-accent-contrast,
    A100: $color-accent-contrast,
    A200: $color-accent-contrast,
    A400: $color-accent-contrast,
    A700: $color-accent-contrast
  )
);

$app-primary: mat-palette($mat-primary-color);
$app-accent: mat-palette($mat-secondary-color);
$app-theme: mat-dark-theme($app-primary, $app-accent);

@include angular-material-theme($app-theme);

.mat-dialog-container {
  background-color: $color-secondary;
  color: $color-secondary-contrast;
  overflow: visible !important;
}

.mat-dialog-title {
  font-weight: bold;
  font-style: $headline-font;
  font-size: 1.6rem;
  text-align: center;
}

.mat-dialog-actions {
  padding: 0.8em 0 !important;
  display: flex;
  justify-content: flex-end;

  button:not(:last-child) {
    margin-right: 0.5em;
  }
}

.mat-snack-bar-container {
  background-color: $color-primary-tint;
  color: $color-primary-contrast;
}

.mat-menu-panel {
  background-color: $color-secondary;
  color: $color-secondary-contrast;
}

.mat-menu-item {
  height: 32px !important;
  line-height: 32px !important;
  font-family: $content-font !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.4em 0;
}

.mat-option {
  background-color: $color-primary;
  color: $color-primary-contrast;

  &:hover {
    background-color: $color-primary-tint !important;
  }
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background-color: $color-primary-tint;
}
