@import "vars";

.msg-info {
  font-family: $content-font;
  color: $color-accent;
  opacity: 0.8;
  font-size: 0.9rem;
}

.msg-key {
  text-transform: uppercase;
  font-weight: bold;
  color: $color-warning;
}
