@import "~@ng-select/ng-select/themes/default.theme.css";
@import "vars";

.ng-select {
  font-family: $content-font !important;

  .ng-select-container {
    background-color: $color-accent;
    border: unset;
    color: $color-accent-contrast;
  }

  &.ng-select-opened > .ng-select-container {
    background-color: $color-accent;
    color: $color-accent-contrast;
    border: unset;
  }
}

// panel which holds the options
.ng-dropdown-panel {
  border: unset;
}

// normal option
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  background-color: $color-accent;
  color: $color-accent-contrast;

  &.ng-option-marked {
    background-color: $color-accent-shade;
  }
}
