@import "vars";

.custom-scroll {
  &::-webkit-scrollbar {
    background-color: rgba($color-light, 0.05);

    &:vertical {
      width: 5px;
    }

    &:horizontal {
      height: 5px;
    }
  }

  &::-webkit-scrollbar-thumb {
    margin: 0 0.3em;
    border-radius: 4px;
    background-color: $color-light;
  }
}
