$color-primary: #23232a;
$color-primary-contrast: #ffffff;
$color-primary-shade: #0f101c;
$color-primary-tint: #2b2c39;

$color-secondary: #242530;
$color-secondary-contrast: #ffffff;
$color-secondary-shade: #1e1f2a;
$color-secondary-tint: #2a2c37;

$color-tertiary: #292e36;
$color-tertiary-contrast: #ffffff;
$color-tertiary-shade: #1e2b41;
$color-tertiary-tint: #24425b;

$color-accent: #ffffff;
$color-accent-contrast: #000000;
$color-accent-shade: #f1f1f1;
$color-accent-tint: #ffffff;

$color-success: #00b16a;
$color-success-contrast: #ffffff;
$color-success-shade: #00a560;
$color-success-tint: #00be73;

$color-warning: #f39c12;
$color-warning-contrast: #ffffff;
$color-warning-shade: #e69012;
$color-warning-tint: #fea612;

$color-danger: #d91e18;
$color-danger-contrast: #ffffff;
$color-danger-shade: #cd1e18;
$color-danger-tint: #e51e18;

$color-dark: #1b2535;
$color-dark-contrast: #ffffff;
$color-dark-shade: #1b2535;
$color-dark-tint: #1b2535;

$color-medium: #2f3743;
$color-medium-contrast: #ffffff;
$color-medium-shade: #242c36;
$color-medium-tint: #434b57;

$color-light: #b1b1b1;
$color-light-contrast: #282828;
$color-light-shade: #a3a3a3;
$color-light-tint: #bfbfbf;

$color-pubg: #ecb937;

$headline-font: "Francois One", sans-serif;
$content-font: "Rubik", sans-serif;
