@import "../../../../../styles/theme/vars";

.header {
  padding: 0.3em 0.5em;
  background-color: $color-secondary;
  color: $color-secondary-contrast;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: $headline-font;
  letter-spacing: 1px;
  border-bottom: 2px solid $color-medium;
}
