@import "../../../../styles/theme/vars";

.game-property-cards {
  .property {
    padding: 0.8em 0.3em;
    display: flex;
    align-items: center;
    flex: 1;
    background-color: $color-secondary;
    color: $color-secondary-contrast;
    font-family: $content-font;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.06);

    &:not(:last-child) {
      margin-right: 0.5em;
    }

    $icon-size: 36px;
    .icon {
      width: $icon-size;
      height: $icon-size;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.6rem;

      img {
        height: 100%;
        width: auto;
      }
    }

    .content {
      padding-left: 0.5em;
      flex: 1;
      display: flex;
      flex-direction: column;

      .label {
        font-size: 0.6rem;
      }

      .value {
        font-weight: bold;
        font-size: 0.8rem;
      }
    }
  }
}

.toolbar {
  padding: 0.4em 0 0.6em 0;
  color: $color-primary-contrast;

  button {
    outline: none;
    font-size: 0.7rem;
    line-height: 30px;
  }
}

.game-rosters {
  .table-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  table {
    width: 100%;
    background-color: $color-secondary;
    color: $color-secondary-contrast;
    font-family: $content-font;

    tr.highlight {
      td {
        background-color: $color-accent;
        color: $color-accent-contrast;
      }
    }

    .mat-header-cell {
      .mat-sort-header-container {
        button.mat-sort-header-container {
          outline: none !important;
        }
      }
    }

    .mat-header-row {
      font-family: $headline-font;
    }

    .mat-row,
    .mat-header-row,
    .mat-footer-row,
    .th.mat-header-cell,
    td.mat-cell,
    .td.mat-footer-cell {
      border-bottom-color: $color-medium;
    }
  }
}

.rank {
  width: 50px;
  border-radius: 12px;
}

.rank-first {
  background-color: #e6c300;
  color: #ffffff;
}

.rank-second {
  background-color: #bfbfbf;
  color: #ffffff;
}

.rank-third {
  background-color: #cd8032;
  color: #ffffff;
}
