<div class="w-100 h-100 d-flex flex-column content-container" *ngIf="!loading">
  <!-- BEGIN: game property cards -->
  <div class="game-property-cards d-flex">
    <!-- BEGIN: map -->
    <div class="property">
      <div class="icon">
        <img [src]="game.map | mapIcon" [alt]="game.map | mapName"/>
      </div>
      <div class="content">
        <div class="label">
          Map
        </div>
        <div class="value">
          {{game.map | mapName}}
        </div>
      </div>
    </div>
    <!-- END: map -->

    <!-- BEGIN: mode -->
    <div class="property">
      <div class="icon">
        <fa-icon [icon]="viewContext.faRunning"></fa-icon>
      </div>
      <div class="content">
        <div class="label">
          Mode
        </div>
        <div class="value">
          <lib-game-mode-icon [gameMode]="game.gameMode" color="light"></lib-game-mode-icon>
        </div>
      </div>
    </div>
    <!-- END: mode -->

    <!-- BEGIN: created at -->
    <div class="property">
      <div class="icon">
        <fa-icon [icon]="viewContext.faCalendarAlt"></fa-icon>
      </div>
      <div class="content">
        <div class="label">
          Created at
        </div>
        <div class="value">
          {{game.createdAt | date:viewContext.dateTimeFormat}}
        </div>
      </div>
    </div>
    <!-- END: created at -->

    <!-- BEGIN: duration -->
    <div class="property">
      <div class="icon">
        <fa-icon [icon]="viewContext.faClock"></fa-icon>
      </div>
      <div class="content">
        <div class="label">
          Duration
        </div>
        <div class="value">
          {{game.duration | duration}}
        </div>
      </div>
    </div>
    <!-- END: duration -->
  </div>
  <!-- END: game property cards -->

  <!-- BEGIN: toolbar -->
  <div class="toolbar d-flex flex-row-reverse">
    <!-- BEGIN: review game -->
    <button mat-stroked-button [appStatusBarMessage]="statusBarMessage"
            [disabled]="matchRunning || viewContext.unsupportedMaps.includes(game.map)" (click)="actionOpenGameReview()">
      <fa-icon [icon]="viewContext.faBinoculars"></fa-icon>&nbsp;Review
    </button>
    <!-- END: review game -->
  </div>
  <!-- END: toolbar -->

  <!-- BEGIN: game rosters -->
  <div class="game-rosters flex-grow-1 position-relative">
    <div class="table-container custom-scroll">
      <table mat-table matSort matSortDisableClear matSortActive="rank" matSortDirection="asc"
             [dataSource]="tableDataSource">
        <!-- BEGIN: place -->
        <ng-container matColumnDef="rank">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Place</th>
          <td mat-cell *matCellDef="let element">
            <div class="d-inline-flex align-items-center justify-content-center rank" [ngClass]="{
              'rank-first': element['rank'] === 1,
              'rank-second': element['rank'] === 2,
              'rank-third': element['rank'] === 3
             }">
              {{element["rank"] | enumeration}}
            </div>
          </td>
        </ng-container>
        <!-- END: place -->

        <!-- BEGIN: name -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{element["participantsNicknames"]}}</td>
        </ng-container>
        <!-- END: name -->

        <!-- BEGIN: kills -->
        <ng-container matColumnDef="kills">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Kills</th>
          <td mat-cell *matCellDef="let element">{{element["kills"]}}</td>
        </ng-container>
        <!-- END: kills -->

        <!-- BEGIN: damage dealt -->
        <ng-container matColumnDef="damageDealt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Dmg dealt</th>
          <td mat-cell *matCellDef="let element">{{element["damageDealt"] | number:"1.1-2"}}</td>
        </ng-container>
        <!-- END: damage dealt -->

        <!-- BEGIN: dbnos -->
        <ng-container matColumnDef="dbnos">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>DBNOs</th>
          <td mat-cell *matCellDef="let element">{{element["dbnos"]}}</td>
        </ng-container>
        <!-- END: dbnos -->

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay"
            [class.highlight]="element['localPlayerTeam']"></tr>
      </table>
    </div>
  </div>
  <!-- END: game rosters -->
</div>


<lib-loading-overlay [loading]="loading"></lib-loading-overlay>
