<div class="game-card d-inline-flex position-relative">
  <img [src]="game.info.map | mapThumbnail" [alt]="game.info.map"/>

  <!-- BEGIN: overlay -->
  <div class="overlay d-flex flex-column" #overlay>
    <div class="flex-grow-1 text-center">
      <!-- BEGIN: game mode -->
      <div class="game-mode-badge d-inline-block">
        {{game.info.gameMode | gameModeName}}
      </div>
      <!-- END: game mode -->

      <!-- BEGIN: placement -->
      <div class="placement text-center">
        <div class="player-placement d-inline-block" [class.top-10]="game.placement > 1 && game.placement < 11"
             [class.winner]="game.placement === 1">
          #{{game.placement}}/
        </div>
        <div class="total-players d-inline-block">
          {{game.totalTeams}}
        </div>
      </div>
      <!-- END: placement -->
    </div>

    <div class="card-content">
      <!-- BEGIN: title -->
      <div class="title text-left">
        <div class="position-relative d-inline-block">
          {{game.info.map | mapName}}
          <div *ngIf="!game.info.isCustomGame" class="d-inline-block official-badge">Official</div>
        </div>
      </div>
      <!-- END: title -->

      <!-- BEGIN: created at -->
      <div class="created-at text-left">
        {{game.info.createdAt | date:viewContext.dateTimeFormat}}
      </div>
      <!-- END: created at -->

      <!-- BEGIN: open button -->
      <div class="open-button-container w-100" [@detailsButton]="hovered ? 'visible' : 'hidden'">
        <button mat-stroked-button aria-label="show details" appStatusBarMessage="Show the details of the match"
                (click)="actionOpenDetails()">
          Details
        </button>
      </div>
      <!-- END: open button -->
    </div>
  </div>
  <!-- END: overlay -->
</div>
