@import "../../../../styles/theme/vars";

$card-border-radius: 4px;

.game-card {
  width: 180px;
  height: 220px;
  border-radius: $card-border-radius;
  overflow: hidden;
  margin-left: 0.5em;
  font-family: $content-font;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.4s;
  }
}

img {
  height: auto;
  width: 100%;
  border-radius: $card-border-radius;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: $card-border-radius;
}

.game-mode-badge {
  margin-top: 0.8em;
  padding: 0.35em 0;
  width: 80%;
  background-color: rgba($color-medium, 0.7);
  border-radius: 20px;
  color: $color-medium-contrast;
  font-weight: bold;
  text-transform: uppercase;
}

.placement {
  padding: 0.4em 0;
  transition: all 0.3s;
  color: $color-medium-contrast;

  .player-placement {
    font-size: 2.4rem;
    font-family: $content-font;
    font-weight: bold;
  }

  .total-players {
    font-size: 1rem;
    font-family: $content-font;
  }
}

.overlay:hover .placement {
  padding: 0;
  transform: scale(0.7);
  transition: all 0.19s;
}

$content-padding-sides: 0.8em;
$content-padding-bottom: 1.2em;

.card-content {
  padding: 0 $content-padding-sides $content-padding-bottom
    $content-padding-sides;
}

.title {
  color: $color-accent;
  font-family: $content-font;
  font-weight: bold;
  font-size: 1.3rem;
}

.official-badge {
  padding: 0 0.5em;
  margin-left: 0.8em;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: $color-accent;
  border-radius: 3px;
  color: $color-accent-contrast;
  font-size: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.created-at {
  margin-top: -0.4em;
  color: $color-accent;
  opacity: 0.7;
  font-size: 0.8rem;
}

.open-button-container {
  padding-top: $content-padding-bottom;

  button {
    width: 100%;
    border: 2px solid $color-accent;
    color: $color-accent;
  }
}
