@import "../../../../styles/theme/vars";

.lobby-player-stats-header {
  padding: 0.4em 0;
  border-bottom: 2px solid $color-medium;
  font-weight: bold;
  font-size: 0.75rem;
  font-family: $headline-font;

  .player-nickname,
  .player-kd,
  .player-avg-kd {
    display: inline-block;
  }

  .player-nickname {
    margin-left: 3em;
    width: 45%;
  }

  .player-kd {
    width: 10%;
    text-align: center;
  }

  .player-avg-kd {
    margin-left: 0.1em;
    width: 20%;
    text-align: center;
  }
}

.lobby-player-stats-body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.config-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: $color-secondary;
  color: $color-secondary-contrast;
  font-family: $content-font;

  .label {
    font-family: $headline-font;
    font-size: 1rem;
    text-align: center;
  }

  .value {
    padding-top: 0.6em;
  }

  .config-select {
    min-width: 130px;
  }
}

.only-in-game-info {
  padding: 2.2em;
  text-align: center;
  font-family: $content-font;
  font-size: 0.9rem;
}
