<div class="d-flex flex-column w-100 h-100 position-relative">
  <!-- BEGIN: default game mode -->
  <ng-template [ngIf]="displayDefaultModeSelection">
    <div class="config-overlay d-flex flex-column align-items-center justify-content-center">
      <div class="label">
        Which gamemode should be used by default to search player stats?
      </div>
      <div class="value">
        <ng-select [formControl]="defaultGameModeControl" placeholder="Mode" class="config-select">
          <ng-option *ngFor="let mode of gameModes" [value]="mode">{{mode | gameMode}}</ng-option>
        </ng-select>
      </div>
    </div>
  </ng-template>
  <!-- END: default game mode -->

  <!-- BEGIN: preferred perspective -->
  <ng-template [ngIf]="!displayDefaultModeSelection && displayPreferredPerspective">
    <div class="config-overlay d-flex flex-column align-items-center justify-content-center">
      <div class="label">
        Which perspective do you prefer?
      </div>
      <div class="value">
        <ng-select [formControl]="preferredPerspectiveControl" class="config-select" placeholder="Fpp or Tpp?">
          <ng-option *ngFor="let t of gameModeTypes" [value]="t">{{t | perspective}}</ng-option>
        </ng-select>
      </div>
    </div>
  </ng-template>
  <!-- END: preferred perspective -->

  <ng-template [ngIf]="!displayDefaultModeSelection && !displayPreferredPerspective && inGame">
    <!-- BEGIN: lobby player stats header -->
    <div class="lobby-player-stats-header">
      <div class="player-nickname">
        Nickname
      </div>
      <div class="player-kd">
        KD
      </div>
      <div class="player-avg-kd">
        Avg. DMG
      </div>
    </div>
    <!-- END: lobby player stats header -->

    <!-- BEGIN: player stats -->
    <div class="flex-grow-1 position-relative">
      <div class="lobby-player-stats-body custom-scroll">
        <lib-compact-player-stats [playerStats]="participant.stats" [friendly]="participant.friendly"
                                  *ngFor="let participant of currentLobbyParticipants; trackBy: participantsTrackBy">
        </lib-compact-player-stats>
      </div>
    </div>
    <!-- END: player stats -->
  </ng-template>
  <!-- END: current lobby stats -->

  <!-- BEGIN: not in-game -->
  <ng-template [ngIf]="!inGame">
    <div class="d-flex align-items-center justify-content-center flex-grow-1 only-in-game-info">
      This information is only available In-Game.
    </div>
  </ng-template>
  <!-- END: not in-game -->
</div>
