<div class="quick-access" [ngClass]="animState" [@quickAccessMenu]="visible ? 'visible' : 'hidden'" #quickAccess>
  <!-- BEGIN: currently selected tool -->
  <div class="d-flex align-items-center justify-content-center main-circle" #mainCircle>
    <fa-icon [icon]="activeIcon"></fa-icon>
  </div>
  <!-- END: currently selected tool -->

  <!-- BEGIN: available tools -->
  <div class="circle d-flex align-items-center justify-content-center"
       (click)="setActiveTool(entry.tool)" *ngFor="let entry of mapTools; trackBy: mapToolTrackBy">
    <fa-icon [icon]="entry.config.icon"></fa-icon>
  </div>
  <!-- END: available tools -->
</div>
