@import "../../../../../styles/theme/vars";
@import "trig";

$big_circle: (
  w: 60px,
  h: 60px,
  x: 0,
  y: 45px
);
$small_circle: (
  w: 30px,
  h: 30px
);
$orbit_radius: 60;
$orbit_angle_spacing: 40; // 9 circles would fit with if each is at 0..40..80

.quick-access {
  position: fixed;
  width: 130px;
  height: 130px;

  &.hidden {
    pointer-events: none;
  }
}

.main-circle,
.circle {
  position: absolute;
  border-radius: 100%;
  box-shadow: 2px 1px 13px rgba(0, 0, 0, 0.2);
}

.main-circle {
  height: 60px;
  width: 60px;
  top: map-get($big_circle, y);
  left: map-get($big_circle, x);
  background: #fff;

  fa-icon {
    font-size: 1.2em;
  }
}

.circle {
  height: 30px;
  width: 30px;
  transform-origin: 50% 50%;
  background: $color-primary-tint;
  opacity: 0;
  cursor: pointer;

  fa-icon {
    color: $color-primary-contrast;
  }
}

.circle:hover {
  background: $color-primary-contrast;

  fa-icon {
    color: $color-primary-tint;
  }

  transition: 50ms ease-out;
  transform: scale(1.25);
}

// start position of small circles
.circle {
  top: $orbit_radius * cos(180deg) + map-get($big_circle, y) +
    map-get($small_circle, h) / 2;
  left: $orbit_radius * sin(180deg) + map-get($big_circle, x) +
    map-get($small_circle, w) / 2;
}

// end position of small circles
@for $i from 1 through 360 / $orbit_angle_spacing + 1 {
  .visible .circle:nth-child(#{$i}) {
    $angle: 180 - ($i - 2) * 40deg;
    top: $orbit_radius *
      cos($angle) +
      map-get($big_circle, y) +
      map-get($small_circle, h) /
      2;
    left: $orbit_radius *
      sin($angle) +
      map-get($big_circle, x) +
      map-get($small_circle, w) /
      2;
    opacity: 1;
  }
}

// orbit to x
@mixin orbit_to($name, $to) {
  @keyframes #{$name} {
    @for $i from 0 through 100 {
      $percent: $i * 1%;
      $angle: 180 - ($i * $to / 100) * 1deg;
      #{$percent} {
        top: $orbit_radius *
          cos($angle) +
          map-get($big_circle, y) +
          map-get($small_circle, h) /
          2;
        left: $orbit_radius *
          sin($angle) +
          map-get($big_circle, x) +
          map-get($small_circle, w) /
          2;
      }
    }
  }
}

@include orbit_to("o_40", 40);
@include orbit_to("o_80", 80);
@include orbit_to("o_120", 120);

$animation-speed: 300ms;
.orbit_fwd {
  .circle {
    opacity: 1;
    transition: opacity $animation-speed;
  }

  .circle:nth-child(3) {
    animation: o_40 $animation-speed linear;
  }
  .circle:nth-child(4) {
    animation: o_80 $animation-speed linear;
  }
  .circle:nth-child(5) {
    animation: o_120 $animation-speed linear;
  }
}
