@import "../../../../../styles/theme/vars";

$button-size: 30px;

.toolbar-button {
  padding: 0.3em 0.55em;
  width: $button-size;
  height: $button-size;
  border-radius: 3px;
  font-size: 0.85rem;
  color: $color-medium-contrast;
  transition: background-color 0.3s;

  &.disabled {
    opacity: 0.7;
  }

  &:not(.disabled) {
    cursor: pointer;

    &:hover,
    &.active {
      background-color: $color-medium;
      transition: background-color 0.3s;
    }
  }

  .content {
    width: 100%;
    height: 100%;

    img {
      height: 80%;
      width: auto;
    }
  }
}
