<div class="toolbar-button d-flex align-items-center justify-content-center"
     [ngClass]="{'disabled': disabled, 'active': active}">
  <ng-template [ngIf]="icon" [ngIfElse]="content">
    <fa-icon [icon]="icon"></fa-icon>
  </ng-template>
  <ng-template #content>
    <div class="content d-flex align-items-center justify-content-center">
      <ng-content></ng-content>
    </div>
  </ng-template>
</div>
