<div class="player-stats-pop-over" #wrapper>
  <!-- BEGIN: header -->
  <div class="header d-flex">
    <div class="rank">
      <img [src]="playerStats.rankTitle | rankIcon" alt="rank" [libTooltip]="playerStats.rankTitle | rankLabel"
           libTooltipPosition="left"/>
    </div>
    <div class="nickname flex-grow-1 d-flex align-items-center">
      {{playerStats.nickname}}&nbsp;<span class="rank-points">({{playerStats.rankPoints | number:'1.0-0'}}
      points)</span>
    </div>
  </div>
  <!-- END: header -->

  <!-- BEGIN: stats compared to lobby -->
  <div class="stats-section">
    <div class="section-title">
      Compared to lobby
    </div>

    <div class="highlight-stats">
      <!-- BEGIN: kd -->
      <div class="stats-big">
        <div class="label">
          K/D
        </div>

        <div class="value">
          <ng-template [ngIf]="playerStats.kdRatio" [ngIfElse]="lobbyKdUnavailable">
            {{playerStats.kdRatio | number:'1.1-2'}}
          </ng-template>
          <ng-template #lobbyKdUnavailable>
            -
          </ng-template>
        </div>

        <div class="ratio-bar">
          <div class="rb-backdrop">
            <div class="rb-progress" [style.width]="lobbyKdRatioPercentage + '%'"></div>
          </div>
        </div>
      </div>
      <!-- END: kd -->

      <!-- BEGIN: headshots -->
      <div class="stats-big">
        <div class="label">
          Headshots
        </div>

        <div class="value">
          <ng-template [ngIf]="playerStats.headshotRatio" [ngIfElse]="lobbyHeadshotsUnavailable">
            {{playerStats.headshotRatio | number:'1.1-2'}} %
          </ng-template>
          <ng-template #lobbyHeadshotsUnavailable>
            -
          </ng-template>
        </div>

        <div class="ratio-bar">
          <div class="rb-backdrop">
            <div class="rb-progress" [style.width]="lobbyHsRatioPercentage + '%'"></div>
          </div>
        </div>
      </div>
      <!-- END: headshots -->

      <!-- BEGIN: wins -->
      <div class="stats-big">
        <div class="label">
          Wins
        </div>

        <div class="value">
          <ng-template [ngIf]="playerStats.winRatio" [ngIfElse]="lobbyWinsUnavailable">
            {{playerStats.winRatio | number:'1.1-2'}} %
          </ng-template>
          <ng-template #lobbyWinsUnavailable>
            -
          </ng-template>
        </div>

        <div class="ratio-bar">
          <div class="rb-backdrop">
            <div class="rb-progress" [style.width]="lobbyWinRatioPercentage + '%'"></div>
          </div>
        </div>
      </div>
      <!-- END: wins -->
    </div>
  </div>
  <!-- END: stats compared to lobby -->
</div>
