@import "../../../../../styles/theme/vars";

.player-stats-pop-over {
  position: fixed;
  z-index: 800;
  background-color: $color-secondary;
  color: $color-secondary-contrast;
  width: 325px;
  font-family: $content-font;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.header {
  border-bottom: 1px solid $color-medium;

  $rank-size: 42px;
  .rank {
    padding-left: 0.3em;
    width: $rank-size;
    height: $rank-size;

    img {
      height: 100%;
      width: auto;
    }
  }

  .nickname {
    padding-left: 0.5em;
    font-weight: bold;
    font-family: $headline-font;
    letter-spacing: 1px;
  }

  .rank-points {
    font-weight: normal;
    font-size: 0.7rem;
  }
}

.stats-section {
  padding: 0.5em 0.4em;

  &:not(:last-child) {
    border-bottom: 1px dashed $color-medium;
  }

  .section-title {
    padding-bottom: 0.6em;
    font-size: 0.7rem;
    font-weight: bold;

    &::before {
      content: "»";
    }
  }
}

@keyframes bar-move-in {
  from {
    width: 0;
  }
}

.highlight-stats {
  display: flex;

  .stats-big {
    flex: 1;
    display: flex;
    flex-direction: column;

    .label,
    .value {
      text-align: center;
    }

    .label {
      font-weight: bold;
      font-size: 0.7rem;
    }

    .value {
      font-size: 1rem;
    }

    .ratio-bar {
      padding: 0.2em 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .rb-backdrop {
        position: relative;
        width: 80%;
        height: 3px;
        background-color: $color-medium;

        .rb-progress {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          background-color: $color-accent;
          animation: 0.4s bar-move-in 1;
        }
      }
    }
  }
}
