<div class="d-flex flex-column h-100">
  <div>
    <ng-content select="lib-sidebar-header"></ng-content>
  </div>
  <div class="flex-grow-1 d-flex">
    <ng-content select="lib-sidebar-content"></ng-content>
  </div>
</div>
