<div class="wrapper w-100 h-100" *ngIf="loading" @fade>
  <div class="h-100 w-100 d-flex align-items-center justify-content-center">
    <div class="loading-box">
      <div class="loader"></div>
    </div>
  </div>
</div>

