@import "../../../../../styles/theme/vars";
@import "~bootstrap/scss/bootstrap-grid";

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 700;
  background-color: $color-secondary;
  font-family: $content-font;
  color: $color-secondary-contrast;
  overflow: hidden;
}

.loading-box {
  width: 65%;
  max-width: 400px;
  overflow: hidden;
}

.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: rgba($color-accent, 0.6);
}

.loader::before {
  display: block;
  position: absolute;
  content: "";
  left: -100%;
  width: 200px;
  height: 4px;
  background-color: $color-accent;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  50% {
    width: 30%;
  }

  70% {
    width: 70%;
  }

  80% {
    left: 50%;
  }

  95% {
    left: 120%;
  }

  100% {
    left: 100%;
  }
}
