@import "../../styles/theme/vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  outline: none !important;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: $color-primary;
}
