<div class="flex-grow-1 position-relative">
  <!-- BEGIN: event not in db -->
  <div class="not-in-db d-flex align-items-center justify-content-center"
       *ngIf="!loading && !eventInDb && currentEvent && games.isEmpty()">
    <div class="msg-info text-center">
      The matches for the event are still being processed. This might take a few seconds.<br/><br/><b>Refreshing
      in {{timeUntilRefresh}} seconds...</b>
    </div>
  </div>
  <!-- END: event not in db -->

  <!-- BEGIN: games not found -->
  <div class="not-found msg-info d-flex align-items-center justify-content-center"
       *ngIf="!loading && eventInDb && currentEvent && games.isEmpty()">
    <span class="text-center">No matches found<br><i>(Please check your spelling)</i></span>
  </div>
  <!-- END: games not found -->

  <!-- BEGIN: game entries -->
  <div class="game-entries custom-scroll" (scroll)="actionGameEntriesScroll()" #gameEntriesWrapper
       [class.d-none]="!eventInDb || !currentEvent || games.isEmpty()">
    <lib-compact-game-entry [game]="game" *ngFor="let game of games; trackBy: trackByGameId"
                            appStatusBarMessage="Click to see the match details"></lib-compact-game-entry>
    <lib-small-loading-bar *ngIf="loading && !games.isEmpty()"></lib-small-loading-bar>
  </div>
  <!-- END: game entries -->

  <!-- BEGIN: games loading overlay -->
  <lib-loading-overlay [loading]="loading && games.isEmpty()"></lib-loading-overlay>
  <!-- END: games loading overlay -->
</div>
