@import "../../../../styles/theme/vars";

.controls {
  padding: 0.3em 0.6em;
  border-bottom: 1px solid $color-medium;
  font-family: $content-font;
  font-size: 0.7rem;

  .refresh-button {
    color: $color-secondary-contrast;
    outline: none;
    width: 24px;
    height: 24px;
    font-size: 0.7rem;
    line-height: 14px;
  }
}

.game-entries {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.not-found {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
}

.not-in-db {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
}
