<div class="d-flex flex-column w-100 h-100 position-relative">
  <!-- BEGIN: controls -->
  <div class="controls d-flex align-items-center">
    <!-- BEGIN: matches count -->
    <div class="flex-grow-1">
      <span *ngIf="games.size">
        Matches <i>({{totalGames}})</i>
      </span>
    </div>
    <!-- END: matches count -->

    <!-- BEGIN: refresh button -->
    <div>
      <button class="refresh-button" mat-icon-button libTooltip="Refresh" libTooltipPosition="right"
              (click)="actionRefreshMatches()" aria-label="refresh player matches"
              appStatusBarMessage="Refresh the matches of the local player">
        <fa-icon [icon]="viewContext.faSyncAlt"></fa-icon>
      </button>
    </div>
    <!-- END: refresh button -->
  </div>
  <!-- END: controls -->

  <app-shared-player-match-search></app-shared-player-match-search>
</div>
