<!-- BEGIN: dialog title -->
<h1 mat-dialog-title>Settings</h1>
<!-- END: dialog title -->

<!-- BEGIN: dialog content -->
<mat-tab-group [dynamicHeight]="true" [disableRipple]="true">
  <!-- BEGIN: general settings -->
  <mat-tab label="General">
    <ng-template matTabContent>
      <form [formGroup]="generalGroup">
        <!-- BEGIN: default search game mode -->
        <div class="property">
          <div class="label">
            Default game mode&nbsp;<lib-info-button>The game mode which will be used by default to search for the stats
            of the players when we haven't received the game mode of the current match yet.
          </lib-info-button>
          </div>
          <div class="value">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="defaultSearchGameMode">
                <mat-option *ngFor="let mode of gameModes" [value]="mode">{{mode | gameMode}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!-- END: default search game mode -->

        <!-- BEGIN: preferred perspective -->
        <div class="property">
          <div class="label">
            Preferred perspective&nbsp;<lib-info-button>The perspective which should be used together with the game mode
            to search for the stats of the players since we don't get the info from the game.
          </lib-info-button>
          </div>
          <div class="value">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="preferredPerspective" placeholder="Fpp or Tpp?">
                <mat-option *ngFor="let p of perspectives" [value]="p">{{p | perspective}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!-- END: preferred perspective -->
      </form>
    </ng-template>
  </mat-tab>
  <!-- END: general settings -->

  <!-- BEGIN: hotkey settings -->
  <mat-tab label="Hotkeys">
    <ng-template matTabContent>
      <form [formGroup]="hotkeysGroup" class="hotkey-form custom-scroll">
        <!-- BEGIN: map hotkeys -->
        <div class="section-title">
          Map
        </div>
        <!-- BEGIN: brush tool hotkey -->
        <div class="property">
          <div class="label">
            Brush tool
          </div>
          <div class="value">
            <mat-form-field appearance="outline" class="w-100">
              <input type="text" formControlName="brushTool" aria-label="brush tool hotkey" matInput
                     autocomplete="off" spellcheck="false" (keydown)="actionHotkeyKeyDown($event)"
                     (keyup)="actionHotkeyKeyUp($event, 'brushTool')"/>

              <mat-error *ngIf="hotkeysGroup.controls['brushTool'].hasError('duplicateHotkey')">
                {{duplicateHotkeysMsg}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- END: brush tool hotkey -->

        <!-- BEGIN: marker tool hotkey -->
        <div class="property">
          <div class="label">
            Marker tool
          </div>
          <div class="value">
            <mat-form-field appearance="outline" class="w-100">
              <input type="text" formControlName="markerTool" aria-label="marker tool hotkey" matInput
                     autocomplete="off" spellcheck="false" (keydown)="actionHotkeyKeyDown($event)"
                     (keyup)="actionHotkeyKeyUp($event, 'markerTool')"/>

              <mat-error *ngIf="hotkeysGroup.controls['markerTool'].hasError('duplicateHotkey')">
                {{duplicateHotkeysMsg}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- END: marker tool hotkey -->

        <!-- BEGIN: eraser tool hotkey -->
        <div class="property">
          <div class="label">
            Eraser tool
          </div>
          <div class="value">
            <mat-form-field appearance="outline" class="w-100">
              <input type="text" formControlName="eraserTool" aria-label="eraser tool hotkey" matInput
                     autocomplete="off" spellcheck="false" (keydown)="actionHotkeyKeyDown($event)"
                     (keyup)="actionHotkeyKeyUp($event, 'eraserTool')"/>

              <mat-error *ngIf="hotkeysGroup.controls['eraserTool'].hasError('duplicateHotkey')">
                {{duplicateHotkeysMsg}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- END: eraser tool hotkey -->

        <!-- BEGIN: generic marker hotkey -->
        <div class="property">
          <div class="label">
            Generic marker
          </div>
          <div class="value">
            <mat-form-field appearance="outline" class="w-100">
              <input type="text" formControlName="genericMarker" aria-label="generic marker hotkey" matInput
                     autocomplete="off" spellcheck="false" (keydown)="actionHotkeyKeyDown($event)"
                     (keyup)="actionHotkeyKeyUp($event, 'genericMarker')"/>

              <mat-error *ngIf="hotkeysGroup.controls['genericMarker'].hasError('duplicateHotkey')">
                {{duplicateHotkeysMsg}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- END: generic marker hotkey -->

        <!-- BEGIN: car marker hotkey -->
        <div class="property">
          <div class="label">
            Car marker
          </div>
          <div class="value">
            <mat-form-field appearance="outline" class="w-100">
              <input type="text" formControlName="carMarker" aria-label="car marker hotkey" matInput autocomplete="off"
                     spellcheck="false" (keydown)="actionHotkeyKeyDown($event)"
                     (keyup)="actionHotkeyKeyUp($event, 'carMarker')"/>

              <mat-error *ngIf="hotkeysGroup.controls['carMarker'].hasError('duplicateHotkey')">
                {{duplicateHotkeysMsg}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- END: car marker hotkey -->

        <!-- BEGIN: weapon marker hotkey -->
        <div class="property">
          <div class="label">
            Weapon marker
          </div>
          <div class="value">
            <mat-form-field appearance="outline" class="w-100">
              <input type="text" formControlName="weaponMarker" aria-label="weapon marker hotkey" matInput
                     autocomplete="off" spellcheck="false" (keydown)="actionHotkeyKeyDown($event)"
                     (keyup)="actionHotkeyKeyUp($event, 'weaponMarker')"/>

              <mat-error *ngIf="hotkeysGroup.controls['weaponMarker'].hasError('duplicateHotkey')">
                {{duplicateHotkeysMsg}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- END: weapon marker hotkey -->

        <!-- BEGIN: item marker hotkey -->
        <div class="property">
          <div class="label">
            Item marker
          </div>
          <div class="value">
            <mat-form-field appearance="outline" class="w-100">
              <input type="text" formControlName="itemMarker" aria-label="item marker hotkey" matInput
                     autocomplete="off" spellcheck="false" (keydown)="actionHotkeyKeyDown($event)"
                     (keyup)="actionHotkeyKeyUp($event, 'itemMarker')"/>

              <mat-error *ngIf="hotkeysGroup.controls['itemMarker'].hasError('duplicateHotkey')">
                {{duplicateHotkeysMsg}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- END: item marker hotkey -->

        <!-- BEGIN: focus player hotkey -->
        <div class="property">
          <div class="label">
            Focus player
          </div>
          <div class="value">
            <mat-form-field appearance="outline" class="w-100">
              <input type="text" formControlName="focusPlayer" aria-label="focus player hotkey" matInput
                     autocomplete="off" spellcheck="false" (keydown)="actionHotkeyKeyDown($event)"
                     (keyup)="actionHotkeyKeyUp($event, 'focusPlayer')"/>

              <mat-error *ngIf="hotkeysGroup.controls['focusPlayer'].hasError('duplicateHotkey')">
                {{duplicateHotkeysMsg}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- END: focus player hotkey -->

        <!-- BEGIN: undo hotkey -->
        <div class="property">
          <div class="label">
            Undo
          </div>
          <div class="value">
            <mat-form-field appearance="outline" class="w-100">
              <input type="text" formControlName="undo" aria-label="undo hotkey" matInput
                     autocomplete="off" spellcheck="false" (keydown)="actionHotkeyKeyDown($event)"
                     (keyup)="actionHotkeyKeyUp($event, 'undo')"/>

              <mat-error *ngIf="hotkeysGroup.controls['undo'].hasError('duplicateHotkey')">
                {{duplicateHotkeysMsg}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- END: undo hotkey -->

        <!-- BEGIN: redo hotkey -->
        <div class="property">
          <div class="label">
            Redo
          </div>
          <div class="value">
            <mat-form-field appearance="outline" class="w-100">
              <input type="text" formControlName="redo" aria-label="redo hotkey" matInput
                     autocomplete="off" spellcheck="false" (keydown)="actionHotkeyKeyDown($event)"
                     (keyup)="actionHotkeyKeyUp($event, 'redo')"/>

              <mat-error *ngIf="hotkeysGroup.controls['redo'].hasError('duplicateHotkey')">
                {{duplicateHotkeysMsg}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- END: redo hotkey -->
        <!-- END: map hotkeys -->

        <!-- BEGIN: review player hotkeys -->
        <div class="section-title">
          Review player
        </div>

        <!-- BEGIN: play / pause hotkey -->
        <div class="property">
          <div class="label">
            Play/Pause
          </div>
          <div class="value">
            <mat-form-field appearance="outline" class="w-100">
              <input type="text" formControlName="playPause" aria-label="play/pause hotkey" matInput
                     autocomplete="off" spellcheck="false" (keydown)="actionHotkeyKeyDown($event)"
                     (keyup)="actionHotkeyKeyUp($event, 'playPause')"/>

              <mat-error *ngIf="hotkeysGroup.controls['playPause'].hasError('duplicateHotkey')">
                {{duplicateHotkeysMsg}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- END: player / pause hotkey -->

        <!-- BEGIN: fast forward hotkey -->
        <div class="property">
          <div class="label">
            Fast forward
          </div>
          <div class="value">
            <mat-form-field appearance="outline" class="w-100">
              <input type="text" formControlName="fastForward" aria-label="fast forward hotkey" matInput
                     autocomplete="off" spellcheck="false" (keydown)="actionHotkeyKeyDown($event)"
                     (keyup)="actionHotkeyKeyUp($event, 'fastForward')"/>

              <mat-error *ngIf="hotkeysGroup.controls['fastForward'].hasError('duplicateHotkey')">
                {{duplicateHotkeysMsg}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- END: fast forward hotkey -->

        <!-- BEGIN: fast backward hotkey -->
        <div class="property">
          <div class="label">
            Fast backward
          </div>
          <div class="value">
            <mat-form-field appearance="outline" class="w-100">
              <input type="text" formControlName="fastBackward" aria-label="fast backward hotkey" matInput
                     autocomplete="off" spellcheck="false" (keydown)="actionHotkeyKeyDown($event)"
                     (keyup)="actionHotkeyKeyUp($event, 'fastBackward')"/>

              <mat-error *ngIf="hotkeysGroup.controls['fastBackward'].hasError('duplicateHotkey')">
                {{duplicateHotkeysMsg}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- END: fast backward hotkey -->
        <!-- END: review player hotkeys -->
      </form>
    </ng-template>
  </mat-tab>
  <!-- END: hotkey settings -->
</mat-tab-group>
<!-- END: dialog content-->

<!-- BEGIN: dialog actions -->
<mat-dialog-actions>
  <button mat-stroked-button (click)="actionCancel()">
    Cancel
  </button>
  <button mat-flat-button color="accent" (click)="actionApply()" cdkFocusInitial>
    Apply
  </button>
</mat-dialog-actions>
<!-- END: dialog actions -->
