@import "../../../../styles/theme/vars";

form {
  padding: 0 0.5em;
}

.section-title {
  font-size: 1.3rem;
  font-family: $headline-font;
  font-weight: bold;
}

.property {
  width: 100%;
  display: flex;

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.6em 0;
    border-top: 0.4em solid transparent !important;
  }

  .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: unset !important;
  }

  .label {
    padding-top: 0.7em;
    padding-bottom: 0.2em;
    width: 40%;
  }

  .value {
    flex-grow: 1;
  }

  &:first-child {
    padding-top: 1.2em;
  }
}

.hotkey-form {
  overflow-y: auto;
  max-height: 470px;
}
