<div class="icons d-inline-block" [ngClass]="{'dark': color === 'dark', 'light': color === 'light'}">
  <fa-icon [icon]="viewContext.faRunning" class="active"></fa-icon>
  <fa-icon [icon]="viewContext.faRunning" [ngClass]="{'active': teamSize >= 2}"></fa-icon>
  <fa-icon [icon]="viewContext.faRunning" [ngClass]="{'active': teamSize === 4}"></fa-icon>
  <fa-icon [icon]="viewContext.faRunning" [ngClass]="{'active': teamSize === 4}"></fa-icon>
</div>
