@import "../../../../../styles/theme/vars";

.icons {
  fa-icon {
    opacity: 0.4;

    &.active {
      opacity: 1;
    }
  }

  &.dark {
    color: $color-accent-contrast;
  }

  &.light {
    color: $color-accent;
  }
}
