<div class="drag-boundary">
  <div class="controls-help-window" [@windowState]="visible ? 'visible' : 'hidden'" cdkDrag
       (cdkDragStarted)="actionDragStarted()" (cdkDragEnded)="actionDragEnded()" [class.dragging]="dragging"
       cdkDragBoundary=".drag-boundary">
    <!-- BEGIN: title bar -->
    <div class="title-bar d-flex unselectable" cdkDragHandle>
      <div class="flex-grow-1 d-flex align-items-center">
        Map controls
      </div>
      <div class="close-button" role="button" matRipple (click)="actionClose()">
        <fa-icon [icon]="viewContext.faTimes"></fa-icon>
      </div>
    </div>
    <!-- END: title bar -->

    <!-- BEGIN: help content -->
    <div class="help-content">
      <!-- BEGIN: camera dragging -->
      <div class="control">
        <div class="gesture">
          <img src="/assets/img/mouse-icons/lmb.png" alt="lmb"/>
        </div>
        <div class="explanation">
          <div>
            Use the <span class="msg-key">LMB</span>&nbsp;<i>(Left Mouse Button)</i>&nbsp;to drag the camera around the
            map
          </div>
        </div>
      </div>
      <!-- END: camera dragging -->

      <!-- BEGIN: using tools -->
      <div class="control">
        <div class="gesture">
          <img src="/assets/img/mouse-icons/rmb.png" alt="rmb"/>
        </div>
        <div class="explanation">
          <div>
            Use the <span class="msg-key">RMB</span>&nbsp;<i>(Right Mouse Button)</i>&nbsp;to use the currently selected
            tool on the map
          </div>
        </div>
      </div>
      <!-- END: using tools -->

      <!-- BEGIN: camera zooming -->
      <div class="control">
        <div class="gesture">
          <img src="/assets/img/mouse-icons/mmb.png" alt="mmb"/>
        </div>
        <div class="explanation">
          <div>
            Scroll forward to <b>zoom in</b> on a certain point on the map and scroll backward to <b>zoom out</b>.
          </div>
        </div>
      </div>
      <!-- END: camera zooming -->

      <!-- BEGIN: brush tool -->
      <div class="control">
        <div class="gesture">
          <div class="key" *ngFor="let key of brushToolKeys">{{key}}</div>
        </div>
        <div class="explanation">
          <div>
            Use the <b>brush tool</b> to draw on the map.
          </div>
        </div>
      </div>
      <!-- END: brush tool -->

      <!-- BEGIN: marker tool -->
      <div class="control">
        <div class="gesture">
          <div class="key" *ngFor="let key of mapMarkerToolKeys">{{key}}</div>
        </div>
        <div class="explanation">
          <div>
            Use the <b>marker tool</b> to place 4 different kinds of markers on any spot on the map.
          </div>
        </div>
      </div>
      <!-- END: marker tool -->

      <!-- BEGIN: eraser tool -->
      <div class="control">
        <div class="gesture">
          <div class="key" *ngFor="let key of eraserToolKeys">{{key}}</div>
        </div>
        <div class="explanation">
          <div>
            Use the <b>eraser tool</b> to either remove markers or brush lines.
          </div>
        </div>
      </div>
      <!-- END: eraser tool -->
    </div>
    <!-- END: help content -->
  </div>
</div>
