@import "../../../../styles/theme/vars";

.drag-boundary {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 800;
  pointer-events: none;
}

.controls-help-window {
  position: fixed;
  left: 200px;
  bottom: 50px;
  z-index: 801;
  width: 375px;
  background-color: $color-secondary;
  box-shadow: 3px 2px 18px rgba(0, 0, 0, 0.2);
  color: $color-secondary-contrast;
  font-family: $content-font;
  pointer-events: all;

  .title-bar {
    padding-left: 0.6em;
    background-color: $color-medium;
    color: $color-medium-contrast;
    font-weight: bold;
    font-family: $headline-font;
    letter-spacing: 2px;
    cursor: grab;
  }

  &.dragging {
    .title-bar {
      cursor: grabbing;
    }
  }
}

.close-button {
  padding: 0.4em 0.8em;
  cursor: pointer;
  background-color: $color-danger;
  color: $color-danger-contrast;
  transition: all 0.3s;

  &:hover {
    background-color: $color-danger-shade;
    transition: all 0.4s;
  }
}

.help-content {
  padding: 0.6em 0.5em;
  border: 1px solid $color-medium;
}

.control {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    padding-bottom: 0.8em;
  }

  .gesture {
    margin-right: 1em;
    height: 30px;

    img {
      height: 100%;
      width: auto;
    }

    $key-border-radius: 3px;
    $key-shade-height: 4px;
    .key {
      display: inline-block;
      position: relative;
      padding: 0.2em 0.8em;
      margin-top: $key-shade-height;
      background-color: $color-medium;
      border-radius: $key-border-radius $key-border-radius 0 0;
      font-size: 0.65rem;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;

      &:not(:last-child) {
        margin-right: 0.4em;
      }

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: $key-shade-height;
        background-color: $color-medium-shade;
        border-radius: 0 0 $key-border-radius $key-border-radius;
      }
    }
  }

  .explanation {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 0.75rem;
    line-height: 12px;
  }
}
