<!-- BEGIN: dialog title -->
<h1 mat-dialog-title>Welcome</h1>
<!-- END: dialog title -->

<!-- BEGIN: dialog content -->
<div class="welcome-container">
  <mat-tab-group [dynamicHeight]="false" [disableRipple]="true">
    <mat-tab label="General">

      <ng-template matTabContent>
        <div class="custom-scroll welcome-content">
          <div class="row">
            <h5>Welcome to the competitive Training and Analysis Platform BraexDeck!</h5>
          </div>
          <div class="row">
            <div class="col-sm-7">
              <img src="/assets/img/welcome/BraexDeckRecent.png">
            </div>
            <div class="col-sm-5">
              <p>Entering BraexDeck allows you to enter your in-game name in the top right corner. It welcomes you with
                your
                recent matches. You See some quick stats for your recent matches and let you enter the Match
                details.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <p>You Can search for every STEAM player you want to take a look at the recent matches.</p>
            </div>
            <div class="col-sm-7">
              <img src="/assets/img/welcome/BraexDeckPSearch-Details.png">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-7">
              <img src="/assets/img/welcome/BraexDeckESearch.png">
            </div>
            <div class="col-sm-5">
              <p>If you want you can also take a look at the results of the matches from the official event and lan
                servers.
                This gives you the possibility to analyse the matches e.g. of the Official PUBG Pro leagues from all
                over
                the
                world. (search for 'eu-pel' to get the European Pro League). We will share the other keys for all the
                known events on our
                discord.</p>
            </div>
          </div>
        </div>
      </ng-template>

    </mat-tab>

    <mat-tab label="Second Screen & In-Game App">
      <ng-template matTabContent>
        <div class="custom-scroll welcome-content">
          <div class="row">
            <h5>Starting a match in PUBG enables you the second screen App!</h5>
          </div>
          <div class="row">
            <div class="col-sm-7">
              <img src="/assets/img/welcome/BraexDeckIngame-Lobby.png">
            </div>
            <div class="col-sm-5">
              <p>When Loading into a lobby BraexDeck will show your competitors in your current match in the second
                screen
                app.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <p>
                You can place extended markers for e.g cars or weapons on the map. Also you are able to paint strategic
                routes
                on the map using the marker tools in the sidebar. Its up to your imagination what kind of markers you
                may
                need
                to improve your gameplay.
              </p>
            </div>
            <div class="col-sm-7">
              <img src="/assets/img/welcome/BraexDeckIngame-SecondScreen.png">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-7">
              <img src="/assets/img/welcome/Ingame-Map.png">
            </div>
            <div class="col-sm-5">
              <p>The painting on your in-game app (Default CTRL + F) will be always synchronized with your second screen app and with your
                team mates. Just use the same shortcuts for painting or markers on the in-game app than on the second
                screen app.</p>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>


    <mat-tab label="Team Communication">
      <ng-template matTabContent>
        <div class="custom-scroll welcome-content">
          <div class="row">
            <h5>Entering the airplane connects you automatically with your teammates who also uses BraexDeck!</h5>
          </div>
          <div class="row">
            <div class="col-sm-7">
              <img src="/assets/img/welcome/Ingame-Map.png">
            </div>
            <div class="col-sm-5">
              <p>
                You can use the marker tools with shortcuts on the in-game map (Default CTRL + F) overlay or using the second screen app to
                have
                the map always opened on your second monitor.
                The painting is then also visible to your teammates and your extended markers and paintings are visible
                to
                them as well! You can improve your match strategies dramatically!
                Fast switching between the tools like markers, special markers, painting and the eraser tool by using
                shortcuts will give you the possibility to use its while you are playing, just as fast as using your
                in-game map.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <p>
                You can share the session id above your second screen apps map also to anyone who uses BraexDeck and you
                would like to participate your match. Very useful for trainers and analysts if they are not
                participating your game as a squad member, but needs to share their thoughts and strategic components
                with you and your team. They simply paste the id you shared in the right field and click connect.
                You will see your trainers markers also live on the in-game and on the second screen app!
              </p>
            </div>
            <div class="col-sm-7">
              <img src="/assets/img/welcome/BraexDeckIngame-SecondScreen.png">
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Matches & Replays">
      <ng-template matTabContent>
        <div class="custom-scroll welcome-content">
          <div class="row">
            <h5>Watch your or any other match in a 2D Replay!</h5>
          </div>
          <div class="row">
            <div class="col-sm-7">
              <img src="/assets/img/welcome/BraexDeckIngame-SecondScreen.png">
            </div>
            <div class="col-sm-5">
              <p>
                You can select any match from the player search or the recent matches or any PUBG event you'd like to
                analyse.
                With the replay button in the match details you are able to review your match in a nice 2d styled way.
                Its just a beginning, but you can analyse the match with all the other tools like brushing and marking
                on the replayed mnap.
                Take a look with your team and analysts on your matches and you will improve your strategies for sure!
              </p>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Credits & Coming Soon">
      <ng-template matTabContent>
        <div class="custom-scroll welcome-content">
          <div class="row">

            <div class="col-sm-6">
              <h6>Credits</h6>
              <p>BraexDeck - 0.8.0</p>
              <p>Made with too less time but with <3 from DerCrashi & UnclePapi</p>
              <p>Thanks to Braexco, Zhoisel, ItzzChrizz, Caint and Udyr from the G2 Team for the help and the ideas to
                improve the professional gameplay</p>
              <p>We are appreciated about every feedback on our discord server.</p>
              <p>For our other project for analysing custom game events visit <a href="https://pubg-cgs.com">pubg-cgs.com</a></p>
              <h6>Disclaimer</h6>
              <p>PUBG, PLAYERUNKNOWN’S BATTLEGROUNDS and all related logos are trademarks of PUBG Corporation or its
                affiliates.</p>
            </div>
            <div class="col-sm-6">
              <h6>Coming Soon?</h6>
              <ul>
                <li>
                  Extend the statistics in the match summary view.
                </li>
                <li>
                  Provide detailed information to the players and the teams states inside of reviews.
                </li>
                <li>
                  Provide the information about your teammate's in the second screen app (like support items count,
                  ammunition count).
                </li>
                <li>
                  Extend competitors information available while a match is running.
                </li>
                <li>
                  Integration of <a href="https://pubg-cgs.com">pubg-cgs.com</a> to administer your custom games events
                  also from BraexDeck
                </li>
              </ul>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>

  </mat-tab-group>

  <!-- END: dialog content-->


</div>
<!-- BEGIN: dialog actions -->
<mat-dialog-actions>
  <button mat-flat-button color="accent" (click)="actionOk()" cdkFocusInitial>
    OK
  </button>
</mat-dialog-actions>
<!-- END: dialog actions -->
