@import "../../../../styles/theme/vars";

form {
  padding: 0 0.5em;
}

.section-title {
  font-size: 1.3rem;
  font-family: $headline-font;
  font-weight: bold;
}

.property {
  width: 100%;
  display: flex;

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.6em 0;
    border-top: 0.4em solid transparent !important;
  }

  .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: unset !important;
  }

  .label {
    padding-top: 0.7em;
    padding-bottom: 0.2em;
    width: 40%;
  }

  .value {
    flex-grow: 1;
  }

  &:first-child {
    padding-top: 1.2em;
  }
}

.hotkey-form {
  overflow-y: auto;
  max-height: 470px;
}

.row {
  margin-bottom: 25px;
  h5 {
    font-size: 1.2em;
    text-align: center;
    margin: 1.2em;
  }
  img {
    max-width: 100%;
  }
  p {
    font-size: 0.85em;
  }
}

.tab-content {
  padding: 0.5em;
  max-height: 470px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 0.9em;
}

.welcome-content {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
  max-height: 890px;
  height: 400px;
}

.welcome-container {
  max-height: 80%;
}
