<div class="d-flex flex-column w-100 h-100 position-relative">
  <!-- BEGIN: event search bar -->
  <lib-search-input placeholder="PUBG event Id..." (search)="actionSearchEvent($event)"
                    appStatusBarMessage="Search for Match by a Pubg event Id"
                    (refresh)="actionRefresh()"></lib-search-input>
  <!-- END: event search bar -->

  <div class="flex-grow-1 position-relative d-flex flex-column">
    <!-- BEGIN: search info -->
    <div class="search-info d-flex align-items-center justify-content-center" *ngIf="!currentEvent">
      <div class="msg-info text-center">
        Type the <i>PUBG Event Id</i> you wish to search and hit <span class="msg-key">enter</span>
      </div>
    </div>
    <!-- END: search info -->

    <!-- BEGIN: game entries -->
    <app-shared-event-match-search></app-shared-event-match-search>
    <!-- END: game entries -->
  </div>
</div>
