<div class="thickness-picker d-flex">
  <div class="d-flex align-items-center">
    <input type="number" class="thickness-input" aria-label="thickness" #thicknessInput [(ngModel)]="thickness"
           min="{{viewContext.minThickness}}" max="{{viewContext.maxThickness}}" (blur)="actionThicknessInputBlur()"/>
  </div>
  <div class="flex-grow-1">
    <mat-slider class="w-100" [min]="viewContext.minThickness" [max]="viewContext.maxThickness" [thumbLabel]="true"
                [(ngModel)]="thickness"></mat-slider>
  </div>
</div>
