@import "../../../../../styles/theme/vars";

.label {
  font-size: 0.8rem;
}

.thickness-input {
  margin-right: 0.8em;
  outline: none;
  border: 1px solid $color-light;
  background-color: $color-light-tint;
  color: $color-light-contrast;
  border-radius: 3px;
  width: 35px;
  font-size: 0.8rem;
  text-align: center;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}
