<div class="zoom-indicator d-flex flex-column justify-content-center">
  <!-- BEGIN: zoom in button -->
  <div class="zoom-button" role="button" matRipple [matRippleDisabled]="zoom.isEqualTo(viewContext.maxZoom)"
       (click)="actionZoomIn()" [ngClass]="{'disabled': zoom.isEqualTo(viewContext.maxZoom)}">
    <fa-icon [icon]="viewContext.faPlus"></fa-icon>
  </div>
  <!-- END: zoom in button -->

  <!-- BEGIN: zoom slider -->
  <div class="zoom-slider">
    <div class="front">
      <div class="inner">
        <div class="slider-knob d-inline-flex align-items-center justify-content-center"
             [style.top]="sliderKnobOffset.toNumber() + '%'">
          <fa-icon [icon]="viewContext.faMinus"></fa-icon>
        </div>
      </div>
    </div>
    <div class="back d-flex justify-content-center">
      <div class="slider-path"></div>
    </div>
  </div>
  <!-- END: zoom slider -->

  <!-- BEGIN: zoom out button -->
  <div class="zoom-button" role="button" matRipple [matRippleDisabled]="zoom.isEqualTo(viewContext.minZoom)"
       (click)="actionZoomOut()" [ngClass]="{'disabled': zoom.isEqualTo(viewContext.minZoom)}">
    <fa-icon [icon]="viewContext.faMinus"></fa-icon>
  </div>
  <!-- END: zoom out button -->
</div>
