@import "../../../../../styles/theme/vars";

.zoom-button {
  padding: 0.3em 0.6em;
  color: $color-secondary-contrast;
  background-color: $color-secondary;
  border-radius: 3px;
  box-shadow: 0 0 9px rgba(black, 0.4);
  font-size: 0.9rem;
  transition: all 0.3s;

  &:not(.disabled) {
    cursor: pointer;
  }

  &.disabled {
    fa-icon {
      opacity: 0.3;
    }
  }
}

.zoom-slider {
  position: relative;
  height: 150px;

  .back,
  .front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .back {
    z-index: 1;
  }

  .front {
    padding: 5px 0 15px 0;
    z-index: 10;

    .inner {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  .slider-path {
    height: 100%;
    width: 6px;
    background-color: $color-secondary;
  }

  .slider-knob {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 10px;
    background-color: $color-secondary;
    color: $color-secondary-contrast;
    font-size: 0.7rem;
    border-radius: 2px;
  }
}
