@import "../../../../../styles/theme/vars";

.sidebar-toggle {
  background-color: $color-secondary;
  color: $color-secondary-contrast;
  width: 26px;

  &.show-border {
    border-right: 1px solid $color-medium;
  }
}

.sidebar {
  width: 300px;
  background-color: $color-secondary;
  color: $color-secondary-contrast;
  border-right: 0 solid transparent;
  transition: border-right 0.3s;

  &.show-border {
    border-right: 1px solid $color-medium;
    transition: border-right 0.3s;
  }
}
