<div class="h-100 d-inline-flex">
  <div class=" d-flex flex-column sidebar-toggle" [ngClass]="{'show-border': !showSidebar}">
    <ng-content select="lib-sidebar-toggle-button"></ng-content>
  </div>
  <div class="d-flex flex-column flex-grow-1 sidebar" [@sidebar]="showSidebar ? 'visible' : 'hidden'"
       [ngClass]="{'show-border': showSidebar}">
    <div class="d-flex flex-grow-1" @sidebarContent *ngIf="showSidebarContent">
      <ng-template [cdkPortalOutlet]="activePortal"></ng-template>
    </div>
  </div>
</div>
