@import "../../../../../styles/theme/vars";

.compact-player-stats {
  padding: 0.3em 0.4em;
  background-color: $color-secondary;
  border-bottom: 1px solid $color-medium;
  color: $color-secondary-contrast;
  font-size: 0.7rem;
  font-family: $content-font;

  &.friendly {
    background-color: $color-accent;
    color: $color-accent-contrast;
  }
}

$rank-icon-size: 28px;

.rank-icon {
  width: $rank-icon-size;
  height: $rank-icon-size;

  img {
    height: 100%;
    width: auto;
  }
}

.nickname {
  padding-left: 0.4em;
  font-weight: bold;
  min-width: 100px;
  text-overflow: ellipsis;
}

.kd {
  width: 15%;
  padding-right: 3em;
  text-align: center;
}

.win-ratio {
  padding-right: 1em;
  width: 20%;
  text-align: center;
}

$detailed-stats-button-size: $rank-icon-size;

.detailed-stats-button {
  width: $detailed-stats-button-size;
  height: $detailed-stats-button-size;
  background-color: $color-primary;
  color: $color-primary-contrast;
  cursor: pointer;
  transition: all 0.32s;

  &:hover {
    background-color: $color-primary-tint;
    color: $color-primary-contrast;
  }
}
