<div class="compact-player-stats d-flex align-items-center position-relative" [ngClass]="{'friendly': friendly}">
  <!-- BEGIN: rank icon -->
  <div class="rank-icon">
    <img [src]="playerStats.rankTitle | rankIcon" alt="rank" [libTooltip]="playerStats.rankTitle | rankLabel"
         libTooltipPosition="right"/>
  </div>
  <!-- END: rank icon -->

  <!-- BEGIN: nickname -->
  <div class="nickname flex-grow-1">
    {{playerStats.nickname}}
  </div>
  <!-- END: nickname -->

  <!-- BEGIN: kd -->
  <div class="kd">
    <ng-template [ngIf]="playerStats.kdRatio" [ngIfElse]="kdUnavailable">
      {{playerStats.kdRatio | number:'1.1-2'}}
    </ng-template>
    <ng-template #kdUnavailable>
      -
    </ng-template>
  </div>
  <!-- END: kd -->

  <!-- BEGIN: win ratio -->
  <div class="win-ratio">
    <ng-template [ngIf]="playerStats.averageDamage" [ngIfElse]="averageDamageUnavailable">
      {{playerStats.averageDamage | number:'1.1-2'}}
    </ng-template>
    <ng-template #averageDamageUnavailable>
      -
    </ng-template>
  </div>
  <!-- END: win ration -->

  <!-- BEGIN: detailed stats -->
  <div class="detailed-stats">
    <div class="detailed-stats-button d-flex align-items-center justify-content-center" role="button" matRipple
         (click)="actionOpenStatsPopOver()" libTooltip="Detailed player stats"
         libTooltipPosition="bottom" [satPopoverAnchorFor]="playerStatsPopover">
      <fa-icon [icon]="viewContext.faAngleDoubleRight"></fa-icon>
    </div>
  </div>
  <!-- END: detailed stats -->
</div>

<sat-popover #playerStatsPopover horizontalAlign="after" verticalAlign="start">
  <lib-player-stats-pop-over [playerStats]="playerStats"
                             (closePopover)="actionCloseStatsPopOver()"></lib-player-stats-pop-over>
</sat-popover>
