@import "../../../../../styles/theme/vars";

.button-wrapper {
  position: relative;
  display: inline-block;

  &.dark {
    .copy-button {
      color: $color-accent-contrast;
    }

    .copied-text {
      color: $color-accent-contrast;
    }
  }

  &.light {
    .copy-button {
      color: $color-secondary-contrast;
    }

    .copied-text {
      color: $color-secondary-contrast;
    }
  }
}

.copy-button {
  position: relative;
  padding: 0 5px;
  background-color: transparent;
  outline: none;
  border: unset;

  &:focus {
    outline: none;
  }
}

.copied-text {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  opacity: 0;
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 8pt;
  font-weight: normal !important;
  font-family: $content-font;
  cursor: pointer;
  z-index: 50;
}

.copied-text.copied {
  display: block;
  animation: copied-response 0.5s 1;
}

@keyframes copied-response {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-80%);
  }
}
