<div class="button-wrapper" [ngClass]="{'dark': color === 'dark', 'light': color === 'light'}">
  <button class="copy-button" #button (click)="actionShowCopyAnimation()" aria-label="copy button">
    <fa-icon [icon]="viewContext.faCopy"></fa-icon>
  </button>
  <span class="copied-text" #copiedText>Copied</span>
</div>
