<div class="sidebar-toggle-button" [ngClass]="{'disabled': disabled, 'active': active}" (click)="actionToggleActive()">
  <div class="label d-flex align-items-center unselectable">
    <div class="icon" *ngIf="icon">
      <fa-icon [icon]="icon" [rotate]="90"></fa-icon>
    </div>
    <div class="flex-grow-1 unselectable">
      {{label}}
    </div>
  </div>
</div>
