@import "../../../../../styles/theme/vars";

.sidebar-toggle-button {
  padding: 0.6em 0.2em;
  background-color: $color-secondary;
  color: $color-secondary-contrast;
  font-family: $content-font;
  transition: background-color 0.3s, color 0.3s;

  &.disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  &:not(.disabled) {
    cursor: pointer;

    &:hover {
      background-color: $color-medium;
      color: $color-medium-contrast;
      transition: background-color 0.3s, color 0.3s;
    }

    &.active {
      background-color: $color-accent;
      color: $color-accent-contrast;
    }
  }
}

.label {
  writing-mode: tb-rl;
  transform: rotateZ(180deg);
  font-size: 0.7rem;
}

.icon {
  padding-bottom: 0.6em;
}
