@import "../../../styles/theme/vars";

$selected-color-size: 10px;

.selected-color {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid currentColor;
  background-color: currentColor;
  border-radius: 50%;
  width: $selected-color-size;
  height: $selected-color-size;
}

.selected-thickness {
  padding: 0.1em;
  position: absolute;
  bottom: 0;
  left: 90%;
  transform: translateX(-50%);
  border: 1px solid $color-accent;
  background-color: $color-accent;
  color: $color-accent-contrast;
  width: 15px;
  height: 10px;
  border-radius: 4px;
  font-size: 0.6rem;
}
