<div class="h-100 d-flex flex-column">
  <!-- BEGIN: top toolbar -->
  <div>
    <lib-toolbar>
      <lib-toolbar-button-group>
        <lib-toolbar-button [icon]="viewContext.faLeftArrow" libTooltip="Back" *ngIf="canGoBack"
                            (click)="actionGoBack()"></lib-toolbar-button>
        <lib-toolbar-button [icon]="viewContext.faHome" libTooltip="Home" *ngIf="showHome"
                            (click)="actionGoHome()"></lib-toolbar-button>
        <lib-toolbar-button [icon]="viewContext.faUndoAlt" libTooltip="Undo (CTRL + Z)" [disabled]="!canUndo"
                            libTooltipPosition="right" (click)="actionUndoBrush()"></lib-toolbar-button>
        <lib-toolbar-button [icon]="viewContext.faRedoAlt" libTooltip="Redo (CTRL + Y)" [disabled]="!canRedo"
                            libTooltipPosition="right" (click)="actionRedoBrush()"></lib-toolbar-button>
      </lib-toolbar-button-group>


<!--      <lib-toolbar-button-group libToolbarEnd>-->
<!--        <lib-toolbar-button [icon]="viewContext.faWindowMinimize"></lib-toolbar-button>-->
<!--        <lib-toolbar-button [icon]="viewContext.faWindowMaximize"></lib-toolbar-button>-->
<!--        <lib-toolbar-button [icon]="viewContext.faWindowClose"></lib-toolbar-button>-->
<!--      </lib-toolbar-button-group>-->

      <lib-toolbar-element libToolbarEnd>
        <app-local-player-nickname></app-local-player-nickname>
      </lib-toolbar-element>

      <lib-toolbar-button [icon]="viewContext.faCog" libToolbarEnd libTooltip="Settings"
                          libTooltipPosition="left" (click)="actionOpenSettingsDialog()"></lib-toolbar-button>

      <!-- BEGIN: help button -->
      <lib-toolbar-button [icon]="viewContext.faQuestionCircle" libToolbarEnd libTooltip="Help"
                          libTooltipPosition="left" [matMenuTriggerFor]="helpMenu"></lib-toolbar-button>
      <!-- END: help button -->

      <!-- BEGIN: help menu -->
      <mat-menu #helpMenu="matMenu">
        <button mat-menu-item (click)="actionOpenWelcomeDialog()">Welcome to BraexDeck</button>
        <button mat-menu-item (click)="actionOpenMapControlsHelp()">Map controls</button>
        <button mat-menu-item (click)="actionOpenDiscordDialog()">Contact us</button>
      </mat-menu>
      <!-- END: help menu -->
      <lib-toolbar-button-group libToolbarEnd>

        <!-- BEGIN: brush tool options -->
        <ng-template [ngIf]="activeTool === viewContext.mapCanvasTool.BRUSH" ngProjectAs="lib-toolbar-button">
          <lib-toolbar-button (click)="actionOpenBrushColorDropdown()" #brushColorButton
                              libTooltip="Select brush color">
            <div class="position-relative">
              <fa-icon [icon]="viewContext.faPalette"></fa-icon>
              <div class="selected-color" [style.color]="brushColor"></div>
            </div>
          </lib-toolbar-button>
          <lib-toolbar-button libTooltip="Select brush thickness" #brushThicknessButton
                              (click)="actionOpenBrushThicknessDropdown()">
            <div class="position-relative">
              <fa-icon [icon]="viewContext.faSprayCan"></fa-icon>
              <div class="selected-thickness d-flex align-items-center justify-content-center">
                {{brushThickness}}
              </div>
            </div>
          </lib-toolbar-button>
          <lib-toolbar-button [icon]="viewContext.faTrash" libTooltip="Clear own drawings"
                              (click)="actionClearDrawings()" libTooltipPosition="left"></lib-toolbar-button>
        </ng-template>
        <!-- END: brush tool options -->

        <!-- BEGIN: map tool options -->
        <ng-template [ngIf]="activeTool === viewContext.mapCanvasTool.MARKER" ngProjectAs="lib-toolbar-button">
          <!-- BEGIN: marker colors -->
          <lib-toolbar-button (click)="actionOpenMarkerColorDropdown()" libTooltip="Select marker color"
                              libTooltipPosition="bottom" #markerColorButton>
            <div class="position-relative">
              <fa-icon [icon]="viewContext.faPalette"></fa-icon>
              <div class="selected-color" [style.color]="markerColor"></div>
            </div>
          </lib-toolbar-button>
          <!-- END: marker colors -->

          <!-- BEGIN: generic marker -->
          <lib-toolbar-button (click)="actionUseMarkerType(viewContext.mapMarkerType.DEFAULT)"
                              libTooltip="Generic marker ( {{genericMarkerHotkey}} )" libTooltipPosition="bottom"
                              [active]="activeMarkerType === viewContext.mapMarkerType.DEFAULT">
            <img src="/assets/img/map-markers/map-marker.png" alt="default"/>
          </lib-toolbar-button>
          <!-- END: generic marker -->

          <!-- BEGIN: car marker -->
          <lib-toolbar-button (click)="actionUseMarkerType(viewContext.mapMarkerType.CAR)"
                              libTooltip="Car marker ( {{carMarkerHotkey}} )" libTooltipPosition="bottom"
                              [active]="activeMarkerType === viewContext.mapMarkerType.CAR">
            <img src="/assets/img/map-markers/car-map-marker.png" alt="default"/>
          </lib-toolbar-button>
          <!-- END: car marker -->

          <!-- BEGIN: weapon marker -->
          <lib-toolbar-button (click)="actionUseMarkerType(viewContext.mapMarkerType.WEAPON)"
                              libTooltip="Weapon marker ( {{weaponMarkerHotkey}} )" libTooltipPosition="bottom"
                              [active]="activeMarkerType === viewContext.mapMarkerType.WEAPON">
            <img src="/assets/img/map-markers/weapon-map-marker.png" alt="default"/>
          </lib-toolbar-button>
          <!-- END: weapon marker -->

          <!-- BEGIN: item marker -->
          <lib-toolbar-button (click)="actionUseMarkerType(viewContext.mapMarkerType.ITEM)"
                              libTooltip="Item marker ( {{itemMarkerHotkey}} )" libTooltipPosition="bottom"
                              [active]="activeMarkerType === viewContext.mapMarkerType.ITEM">
            <img src="/assets/img/map-markers/item-map-marker.png" alt="default"/>
          </lib-toolbar-button>
          <!-- END: item marker -->
        </ng-template>
        <!-- END: map tool options -->
      </lib-toolbar-button-group>

    </lib-toolbar>
  </div>
  <!-- END: top toolbar -->

  <!-- BEGIN: content -->
  <div class="flex-grow-1 d-flex">
    <!-- BEGIN: sidebar -->
    <div>
      <lib-sidebar-toggle>
        <!-- BEGIN: current lobby sidebar -->
        <lib-sidebar-toggle-button label="Current lobby" [icon]="viewContext.faUsers" [disabled]="!showLobbySidebar"
                                   #currentLobbyButton>
          <lib-sidebar *appSidebar>
            <lib-sidebar-content>
              <app-current-lobby-sidebar-content></app-current-lobby-sidebar-content>
            </lib-sidebar-content>
          </lib-sidebar>
        </lib-sidebar-toggle-button>
        <!-- END: current lobby sidebar -->

        <!-- BEGIN: match review sidebar -->
        <lib-sidebar-toggle-button label="Match review" [icon]="viewContext.faBinoculars"
                                   [disabled]="!showGameReviewSidebar" #gameReviewSidebar>
          <lib-sidebar *appSidebar>
            <lib-sidebar-content>
              <app-match-review-sidebar-content></app-match-review-sidebar-content>
            </lib-sidebar-content>
          </lib-sidebar>
        </lib-sidebar-toggle-button>
        <!-- END: match review sidebar -->

        <!-- BEGIN: player search sidebar -->
        <lib-sidebar-toggle-button label="Player search" [icon]="viewContext.faSearch">
          <lib-sidebar *appSidebar>
            <lib-sidebar-content>
              <app-player-search-sidebar-content></app-player-search-sidebar-content>
            </lib-sidebar-content>
          </lib-sidebar>
        </lib-sidebar-toggle-button>
        <!-- END: player search sidebar -->
        <!-- BEGIN: player search sidebar -->
        <lib-sidebar-toggle-button label="Event search" [icon]="viewContext.faSearch">
          <lib-sidebar *appSidebar>
            <lib-sidebar-content>
              <app-event-search-sidebar-content></app-event-search-sidebar-content>
            </lib-sidebar-content>
          </lib-sidebar>
        </lib-sidebar-toggle-button>
        <!-- END: player search sidebar -->
      </lib-sidebar-toggle>
    </div>
    <!-- END: sidebar -->

    <div class="flex-grow-1 d-flex flex-column position-relative">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- END: content -->

  <!-- BEGIN: status bar -->
  <app-status-bar></app-status-bar>
  <!-- END: status bar -->
</div>
