<div class="colors">
  <div class="d-inline-flex flex-column" *ngFor="let colorPair of colors">
    <div class="color position-relative"
      [style.color]="color" *ngFor="let color of colorPair" (click)="actionSelectColor(color)">
      <span class="check" *ngIf="selectedColor === color" [ngClass]="{
          'dark': [viewContext.color.GALLERY, viewContext.color.BOMBAY, viewContext.color.WHITE, viewContext.color.IRON].includes(color)
        }">
        <fa-icon [icon]="viewContext.faCheck"></fa-icon>
      </span>
    </div>
  </div>
</div>
