$color-size: 26px;

.color {
  width: $color-size;
  height: $color-size;
  background-color: currentColor;
  border: 1px solid currentColor;

  &:hover {
    border: 1px solid white;
    cursor: pointer;
  }
}

.check {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 0.4rem;

  &.dark {
    color: black;
  }
}
