@import "../../../../../styles/theme/vars";

.dropdown {
  position: absolute;
  min-width: 200px;
  max-width: 200px;
  z-index: 20;
}

.dropdown-bar {
  position: relative;
  padding: 0.4em;
  background-color: $color-accent;

  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 12px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 9px solid $color-accent;
  }
}

$dropdown-content-padding: 0.55em;
$label-padding: 0.3em;

.dropdown-content {
  padding: $dropdown-content-padding - $label-padding $dropdown-content-padding
    $dropdown-content-padding $dropdown-content-padding;
  background-color: $color-medium;
  color: $color-medium-contrast;
  box-shadow: 0 0 9px rgba(black, 0.15);
}

.label {
  padding-bottom: 0.3em;
  color: $color-medium-contrast;
  font-size: 0.75rem;
}
