<div class="dropdown" #dropdownWrapper [@visibility]="visible ? 'visible' : 'hidden'">
  <div class="dropdown-bar">
  </div>
  <div class="dropdown-content">
    <div class="label" *ngIf="label">
      {{label}}
    </div>
    <ng-template cdkPortalOutlet></ng-template>
  </div>
</div>
