@import "../../../../styles/theme/vars";

.session-connect-bar {
  height: 55px;
  font-family: $content-font;
}

.bd-box {
  width: 50%;
  display: flex;
  flex-direction: column;

  $padding-sides: 0.6em;

  .label {
    padding: 0.4em $padding-sides 0 $padding-sides;
    font-size: 0.75rem;
    font-weight: bold;
    background-color: $color-accent;
    color: $color-accent-contrast;
  }

  .content {
    padding: 0 $padding-sides;
    flex: 1;
    background-color: $color-accent-shade;
    color: $color-accent-contrast;
    font-size: 0.9rem;
  }
}

.connect-to-session-box {
  .content {
    padding-right: 0;
  }
}

.session-id-input {
  height: 100%;
  min-height: 1px;
  max-height: 999999px;
  width: 100%;
  min-width: 1px;
  max-width: 9999999px;
  background-color: transparent;
  border: unset;
  color: $color-accent-contrast;
  font-family: $content-font;
  outline: none;
}

.connect-button,
.disconnect-button {
  position: relative;
  height: 100%;
  width: 39px;
  background-color: transparent;
  border: unset;
  outline: none;
  color: $color-accent-contrast;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.disconnect-button .times {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: $color-danger;
}

.not-connected {
  font-style: italic;
  color: $color-danger;
}
