<div class="session-connect-bar w-100 d-flex">
  <!-- BEGIN: current session -->
  <div class="bd-box current-session-box">
    <div class="label">
      Current session
    </div>

    <div class="content d-flex align-items-center">
      <div class="flex-grow-1">
        <ng-template [ngIf]="currentSessionId" [ngIfElse]="notConnected">
          {{currentSessionId}}
        </ng-template>
        <ng-template #notConnected>
          <span class="not-connected">(Not connected)</span>
        </ng-template>
      </div>
      <div>
        <lib-copy-button [valueToCopy]="currentSessionId" libTooltip="Copy session id"
                         libTooltipPosition="left"></lib-copy-button>
      </div>
    </div>
  </div>
  <!-- END: current session -->

  <!-- BEGIN: connect to session -->
  <div class="bd-box connect-to-session-box">
    <div class="label">
      Connect to session
    </div>

    <div class="content d-flex">
      <div class="flex-grow-1">
        <input type="text" class="session-id-input" aria-label="session id" #sessionIdInput
               [placeholder]="'e.g. ' + placeholderSessionId" spellcheck="false" autocomplete="off"
               [formControl]="sessionIdControl" (keyup.enter)="actionConnectToSession()"/>
      </div>

      <div>
        <!-- BEGIN: connect button -->
        <button class="connect-button" matRipple matRippleColor="#00000010" libTooltip="Connect to session"
                libTooltipPosition="left" (click)="actionConnectToSession()" appStatusBarMessage="Connect to a session"
                *ngIf="!connected">
          <fa-icon [icon]="viewContext.faPlug"></fa-icon>
        </button>
        <!-- END: connect button -->

        <!-- BEGIN: disconnect button -->
        <button class="disconnect-button" matRipple matRippleColor="#00000010" libTooltip="Disconnect from session"
                libTooltipPosition="left" appStatusBarMessage="Disconnect from the current session"
                (click)="actionDisconnectFromSession()" *ngIf="connected">
          <span class="times">
            <fa-icon [icon]="viewContext.faTimes"></fa-icon>
          </span>
          <fa-icon [icon]="viewContext.faPlug"></fa-icon>
        </button>
        <!-- END: disconnect button -->
      </div>
    </div>
  </div>
  <!-- END: connect to session -->
</div>
