<div class="position-relative w-100 h-100 flex-grow-1">
  <!-- BEGIN: map -->
  <div class="map-canvas w-100 h-100" #canvasWrapper>
    <div class="position-relative w-100 h-100" #engineHolder>
      <div class="overlay">
        <div class="zoom-indicator">
          <lib-zoom-indicator [zoom]="zoom" (zoomedIn)="actionZoomIn()"
                              (zoomedOut)="actionZoomOut()"></lib-zoom-indicator>
        </div>
      </div>
    </div>
  </div>
  <!-- END: map -->

  <!-- BEGIN: unsupported map -->
  <div class="unsupported-map d-flex align-items-center justify-content-center"
       *ngIf="viewContext.unsupportedMaps.includes(map)">
    <span class="msg-info">The map `{{map | mapName}}` is not supported</span>
  </div>
  <!-- END: unsupported map -->
</div>
