@import "../../../../../styles/theme/vars";

.map-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid $color-accent;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 600;
}

.zoom-indicator {
  padding: 0.6em;
  position: absolute;
  top: 0;
  right: 0;
}

.resources,
.map-resource {
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  visibility: hidden;
  pointer-events: none;
}

.unsupported-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: $color-primary;

  span {
    font-size: 2rem !important;
  }
}
