<div class="d-flex flex-column w-100 h-100 position-relative">
  <!-- BEGIN: player search bar -->
  <lib-search-input placeholder="PUBG nickname..." (search)="actionSearchPlayer($event)"
                    appStatusBarMessage="Search for a player by their PUBG nickname"
                    (refresh)="actionRefresh()"></lib-search-input>
  <!-- END: player search bar -->

  <div class="flex-grow-1 position-relative d-flex flex-column">
    <!-- BEGIN: search info -->
    <div class="search-info d-flex align-items-center justify-content-center" *ngIf="!currentPlayer">
      <div class="msg-info text-center">
        Type the <i>PUBG nickname</i> of the player you wish to search and hit <span class="msg-key">enter</span>
      </div>
    </div>
    <!-- END: search info -->

    <!-- BEGIN: game entries -->
    <app-shared-player-match-search></app-shared-player-match-search>
    <!-- END: game entries -->
  </div>
</div>
