<div class="local-player-nickname d-flex align-items-center" libTooltip="Click to edit" libTooltipPosition="left"
     (click)="editNicknamePopover.open()" [satPopoverAnchorFor]="editNicknamePopover" #wrapper>
  <div class="nickname flex-grow-1">
    {{localPlayerNickname || '---------------'}}
  </div>
  <div class="edit-icon">
    <fa-icon [icon]="viewContext.faPencilAlt"></fa-icon>
  </div>
</div>

<sat-popover #editNicknamePopover>
  <div class="edit-nickname-popover d-flex" #editNicknameWrapper>
    <div class="flex-grow-1">
      <input type="text" [formControl]="nicknameFormControl" placeholder="Nickname" spellcheck="false"
             autocomplete="off" class="nickname-input" (keyup.enter)="actionApplyNickname()" aria-label="nickname"/>
    </div>
    <div class="apply-button d-flex align-items-center justify-content-center" role="button" matRipple
         (click)="actionApplyNickname()" matRippleColor="#00000010">
      <fa-icon [icon]="viewContext.faCheck"></fa-icon>
    </div>
  </div>
</sat-popover>
