@import "../../../../styles/theme/vars";

.local-player-nickname {
  font-family: $content-font;
  font-size: 0.8rem;
  font-weight: bold;
}

.edit-icon {
  padding-left: 0.6em;
  font-size: 0.5rem;
}

$edit-nickname-height: 40px;

.edit-nickname-popover {
  width: 375px;
  background-color: $color-accent;
  height: $edit-nickname-height;

  .nickname-input {
    padding: 0 0.7em;
    height: 100%;
    width: 100%;
    min-width: 1px;
    max-width: 999999px;
    background-color: $color-accent;
    outline: none;
    border: unset;
    font-family: $content-font;
    color: $color-accent-contrast;

    &:focus {
      outline: none;
    }
  }

  .apply-button {
    width: $edit-nickname-height;
    background-color: $color-accent;
    color: $color-success;
    cursor: pointer;

    &:hover {
      background-color: $color-accent-shade;
      color: $color-success-shade;
    }
  }
}
