@import "../../../../../styles/theme/vars";

.spinner {
  padding: 0.4em 0;
  margin: auto;
  width: 70px;
  text-align: center;
}

$spinner-size: 15px;
.spinner > div {
  width: $spinner-size;
  height: $spinner-size;
  background-color: $color-accent;

  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
