@import "../../../../../styles/theme/vars";

$padding-ceilings: 0.6em;
$padding-sides: 0.5em;

.compact-game-entry {
  padding-top: $padding-ceilings;
  font-family: $content-font;
  border-bottom: 1px solid $color-medium;
  cursor: pointer;
}

.game-mode {
  padding-bottom: 0.45em;
}

.game-details {
  padding: 0 $padding-sides;
  font-size: 0.6rem;
}

.game-id {
  font-size: 0.65rem;
  font-weight: bold;
}

$map-icon-size: 24px;
.map {
  padding-right: 0.7em;
  font-size: 0.6rem;

  .map-icon {
    width: $map-icon-size;
    height: $map-icon-size;
  }

  img {
    height: 100%;
    width: auto;
  }
}

.timestamps {
  padding-top: 0.1em;
  padding-bottom: 0.6em;

  .created-at {
    opacity: 0.7;
  }

  .duration {
    font-weight: bold;
  }
}

.kills-hs {
  font-size: 0.7rem;
}

.total-teams {
  font-size: 0.65rem;
}
