<div class="compact-game-entry d-flex flex-column" matRipple matRippleColor="#00000023"
     (click)="actionOpenGame()">
  <div class="d-flex align-items-center">
    <!-- BEGIN: game mode badge -->
    <div class="game-mode flex-grow-1">
      <lib-game-mode-badge [gameMode]="game.info.gameMode"></lib-game-mode-badge>
    </div>
    <!-- END: game mode badge -->

    <!-- BEGIN: placement -->
    <div>
      <div class="player-placement d-inline-block" [class.top-10]="game.placement > 1 && game.placement < 11"
           [class.winner]="game.placement === 1">
        #{{game.placement}}/
      </div>
      <div class="total-teams d-inline-block">
        {{game.totalTeams}}
      </div>
    </div>
    <!-- END: placement -->
  </div>

  <!-- BEGIN: game details -->
  <div class="game-details d-flex">
    <div class="d-flex flex-column flex-grow-1">
      <!-- BEGIN: kills + headshots -->
      <div class="kills-hs">
        Kills: <b>{{game.kills}}</b>, Headshots: <b>{{game.headshots}}</b>
      </div>
      <!-- END: kills + headshots -->

      <!-- BEGIN: created at + duration -->
      <div class="timestamps">
        <span class="created-at">{{game.info.createdAt | date:viewContext.dateTimeFormat}}</span>&nbsp;-&nbsp;<span
        class="duration">{{game.info.duration | duration}}</span>
      </div>
      <!-- END: created at + duration -->
    </div>

    <!-- BEGIN: map -->
    <div class="map d-flex align-items-center justify-content-center">
      <div class="map-icon">
        <img [src]="game.info.map | mapIcon" alt="map" [attr.aria-label]="game.info.map"/>
      </div>
    </div>
    <!-- END: map -->
  </div>
  <!-- END: game details -->
</div>
