@import "../../../../../styles/theme/vars";

$size: 40px;
$padding-large: 0.5em;
$padding-small: 0.15em;

.toolbar {
  background-color: $color-secondary;
  color: $color-secondary-contrast;

  &.vertical {
    padding: $padding-large $padding-small;
    width: $size;
    border-left: 1px solid $color-medium;
  }

  &.horizontal {
    padding: $padding-small $padding-large;
    height: $size;
    border-bottom: 1px solid $color-medium;

    ::ng-deep lib-toolbar-button {
      margin-right: 0.4em;
    }
  }
}
