<div class="toolbar d-flex align-items-center" [ngClass]="{
    'h-100 vertical flex-column-reverse': mode === 'vertical',
    'w-100 horizontal flex-row-reverse': mode === 'horizontal'
  }">
  <div class="flex-grow-1 d-flex" [ngClass]="{
      'flex-column-reverse': mode === 'vertical',
      'flex-row-reverse': mode === 'horizontal'}">
    <ng-content select="lib-toolbar-button-group[libToolbarEnd],lib-toolbar-button[libToolbarEnd],lib-toolbar-element[libToolbarEnd]"></ng-content>
  </div>

  <div class="flex-grow-1 d-flex" [ngClass]="{'flex-column': mode === 'vertical'}">
    <ng-content select="lib-toolbar-button-group,lib-toolbar-button,lib-toolbar-element"></ng-content>
  </div>
</div>
