<lib-toolbar mode="vertical">
  <lib-toolbar-button [icon]="viewContext.faMousePointer" libTooltip="Selection tool"
                      libTooltipPosition="left" (click)="actionUseTool(viewContext.mapCanvasTool.SELECTION)"
                      [active]="activeTool === viewContext.mapCanvasTool.SELECTION"></lib-toolbar-button>
  <lib-toolbar-button [icon]="viewContext.faPaintBrush" libTooltip="Brush tool ( {{brushToolHotkey}} )"
                      libTooltipPosition="left" (click)="actionUseTool(viewContext.mapCanvasTool.BRUSH)"
                      [active]="activeTool === viewContext.mapCanvasTool.BRUSH"></lib-toolbar-button>
  <lib-toolbar-button [icon]="viewContext.faMapMarkerAlt" libTooltip="Marker tool ( {{mapMarkerToolHotkey}} )"
                      libTooltipPosition="left" (click)="actionUseTool(viewContext.mapCanvasTool.MARKER)"
                      [active]="activeTool === viewContext.mapCanvasTool.MARKER"></lib-toolbar-button>
  <lib-toolbar-button [icon]="viewContext.faEraser" libTooltip="Eraser tool ( {{eraserToolHotkey}} )"
                      libTooltipPosition="left" (click)="actionUseTool(viewContext.mapCanvasTool.ERASER)"
                      [active]="activeTool === viewContext.mapCanvasTool.ERASER"></lib-toolbar-button>
</lib-toolbar>
