<div class="content-container h-100" style="overflow-y: auto">
  <div class="container d-flex flex-column flex-grow-1">
    <!-- BEGIN: page title -->
    <div class="page-title d-flex align-items-center">
      <div class="icon">
        <fa-icon [icon]="viewContext.faHistory"></fa-icon>
      </div>
      <div class="text">
        Recent matches&nbsp;<span class="games-count" *ngIf="totalGames">({{totalGames}})</span>
      </div>
      <div class="flex-grow-1"></div>
      <div class="controls">
        <button mat-icon-button appStatusBarMessage="Refresh the recent matches" libTooltip="Refresh"
                libTooltipPosition="left" class="refresh-button" (click)="actionRefresh()">
          <fa-icon [icon]="viewContext.faSyncAlt"></fa-icon>
        </button>
      </div>
    </div>
    <!-- END: page title -->

    <!-- BEGIN: game cards -->
    <div class="flex-grow-1 position-relative">
      <div class="game-cards custom-scroll text-center" #gameCardsContainer (scroll)="actionGameCardsScroll()">
        <app-game-card *ngFor="let game of games; trackBy: trackByGameId" [game]="game"></app-game-card>
        <lib-small-loading-bar *ngIf="loading && !games.isEmpty()"></lib-small-loading-bar>

        <!-- BEGIN: player not in db -->
        <div class="d-flex w-100 h-100 align-items-center justify-content-center"
             *ngIf="!loading && !playerInDb && games.isEmpty()">
          <div class="msg-info">
            The matches for the player are still being processed. This might take a few seconds.<br/><br/>
            <b>Refreshing in {{timeUntilRefresh}} seconds...</b>
          </div>
        </div>
        <!-- END: player not in db -->

        <!-- BEGIN: not found message -->
        <div class="d-flex w-100 h-100 align-items-center justify-content-center"
             *ngIf="!loading && playerInDb && games.isEmpty()">
          <div class="msg-info">
            No recent matches found<br/><i>(Please check your nickname)</i>
          </div>
        </div>
        <!-- END: not found message -->
      </div>
    </div>
    <!-- END: game cards -->
  </div>
</div>

<lib-loading-overlay [loading]="loading && games.isEmpty()"></lib-loading-overlay>
