@import "../../../../styles/theme/vars";

.page-title {
  margin-bottom: 1.2em;
  padding: 0.3em 0;
  background: $color-primary;
  color: $color-primary-contrast;
  border-top: 1px solid $color-medium;
  border-bottom: 1px solid $color-medium;
  font-family: $content-font;
  font-size: 0.8rem;

  .icon {
    padding-right: 0.7em;
  }

  .games-count {
    font-size: 0.7rem;
    font-style: italic;
  }

  .controls {
    padding-left: 0.6em;
    border-left: 1px solid $color-medium;
  }

  .refresh-button {
    width: 24px;
    height: 24px;
    font-size: 0.7rem;
    line-height: 14px;
  }
}

.game-cards {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
