<div class="w-100 position-relative">
  <!-- BEGIN: search icon -->
  <div class="search-icon">
    <fa-icon [icon]="viewContext.faSearch"></fa-icon>
  </div>
  <!-- END: search icon -->

  <!-- BEGIN: search input -->
  <input type="text" class="search-input" [placeholder]="placeholder" [attr.aria-label]="placeholder"
         [(ngModel)]="searchKeywords" spellcheck="false" autocomplete="off" (keyup.enter)="actionSearch()"
         #searchInput [class.large-padding]="showRefreshButton"/>
  <!-- END: search input -->

  <div class="controls" *ngIf="searchKeywords.trim().length" @clearSearchButton>
    <!-- BEGIN: clear search button -->
    <button mat-icon-button class="clear-search-button" (click)="actionClearSearchInput()">
      <fa-icon [icon]="viewContext.faTimes"></fa-icon>
    </button>
    <!-- END: clear search button -->

    <!-- BEGIN: refresh button -->
    <button mat-icon-button class="refresh-button" (click)="actionRefreshSearch()" *ngIf="showRefreshButton">
      <fa-icon [icon]="viewContext.faSyncAlt"></fa-icon>
    </button>
    <!-- END: refresh-button -->
  </div>
</div>
