@import "../../../../../styles/theme/vars";

.search-icon {
  padding-left: 0.6em;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: $color-secondary-contrast;
  font-size: 0.9rem;
}

.search-input {
  padding: 0.35em 2.1em;
  width: 100%;
  min-width: 1px;
  max-width: 99999px;
  background-color: $color-secondary;
  color: $color-secondary-contrast;
  border: unset;
  border-bottom: 1px solid $color-medium;
  outline: none;
  font-family: $content-font;

  &.large-padding {
    padding-right: 3.6em;
  }
}

.controls {
  padding-right: 0.6em;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  .clear-search-button,
  .refresh-button {
    width: 24px;
    height: 24px;
    line-height: 14px;
    color: $color-secondary-contrast;
    outline: none;
  }

  .refresh-button {
    margin-left: 0.3em;
  }
}
