@import "../../../../../styles/theme/vars";

$padding: 0.5em;

.toolbar-button-group {
  &.vertical {
    margin-bottom: $padding;
    padding-bottom: $padding;
    border-bottom: 1px solid $color-medium;
  }

  &.horizontal {
    margin-right: $padding;
    padding-right: $padding;
    border-right: 1px solid $color-medium;
  }
}
