<div class="toolbar-button-group d-flex" [ngClass]="{
    'flex-column vertical w-100 justify-content-center': mode === 'vertical',
    'horizontal h-100 align-items-center': mode === 'horizontal'
  }">
  <ng-content select="lib-toolbar-button,lib-toolbar-element"></ng-content>
</div>
