<!-- BEGIN: dialog title -->
<h1 matDialogTitle>Your PUBG nickname</h1>
<!-- END: dialog title -->
<div class="info-text">
  This app requires your PUBG nickname in order to function correctly.
</div>

<div class="input-wrapper">
  <input type="text" class="nickname-input" aria-label="nickname" placeholder="Nickname" spellcheck="false"
         autocomplete="off" [formControl]="nicknameControl" (keyup.enter)="actionSave()"/>
</div>

<mat-dialog-actions>
  <button mat-flat-button color="accent" [disabled]="nicknameControl.invalid" (click)="actionSave()">
    Save
  </button>
</mat-dialog-actions>
