@import "../../../../styles/theme/vars";

.info-text {
  padding-bottom: 0.6em;
  font-style: italic;
  text-align: center;
  font-family: $content-font;
}

.input-wrapper {
  padding: 1em 0;
  text-align: center;
}

.nickname-input {
  padding: 0.2em 0.6em;
  width: 80%;
  background-color: $color-accent;
  border: unset;
  border-radius: 5px;
  color: $color-accent-contrast;
  font-family: $content-font;
  font-size: 1.25rem;
  outline: none;

  &:focus {
    outline: none;
  }
}
