<div class="game-mode-badge d-inline-flex">
  <div class="flex-grow-1">
    <lib-game-mode-icon [gameMode]="gameMode"></lib-game-mode-icon>
  </div>
  <div class="perspective">
    {{perspective | perspective}}
  </div>
</div>
