@import "../../../../../styles/theme/vars";

.game-mode-badge {
  padding: 0.2em 0.4em;
  position: relative;
  background-color: $color-accent;
  color: $color-accent-contrast;
  font-family: $content-font;
  font-size: 0.6rem;

  &::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 100%;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 8px solid $color-accent;
  }
}

.perspective {
  padding-left: 0.4em;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}
